[2016-03-23 23:26] rtlong opened #5 "Halting while waiting for API server"
Hey, first of all, this repo is awesome. Thank you so much for sharing it!

I've been reading through everything and I think I have a handle on the issue I'm seeing, but I'm still new to K8s and I'm not sure where to begin trying to solve it. So I'm hoping for some support here, more than calling this a "bug".

Basically, I'm seeing the terraform process halt during the `initialize` step when it's

[2016-03-24 00:05] wellsie commented on #5
hey ryan! you are welcome :) i figured the community could benefit from a terraform reference implementation...

could you share a few lines from:
- the console output around where the problem is happening ?
- journalctl on `10.0.0.10` where you see the freak out about not being able to talk to the apiserver

it seems the trendy thing to do these days is let `kubelet` run `apiserver`, `proxy`, `co

[2016-03-24 00:06] wellsie commented on #5
oh also... does `systemctl status` on `10.0.0.10` show any issues ?

[2016-03-24 00:27] rtlong commented on #5
Thanks for your help! Here's a gist with the logs you wanted: https://gist.github.com/rtlong/2ddd2171c230078c368a

I can't give you the TF output as I've lost it in my shell now, but it was definitely showing the `null_resource.initialize` lines where it described the connection details, followed by (presumable a parallel worker produced this) a block from another resource, then the solitary line,

[2016-03-24 01:51] wellsie commented on #5
np :)

hey remove this (or edit them) from the `cloud-config.tf` files in the worker and etcd modules:

[code]

i have hard coded the region - DOH!!! definitely a bug !

anyway remove them and it should work but won't log to cloudwatch. if you are using a different region try editing to that.

here are the offending log entries:

[code]

can you check that terraform created a log group for the int

[2016-03-24 07:50] rtlong commented on #5
That did the trick! Thanks. I'm so glad I reached out. I usually like to spend more time trying to understand something like this before asking for help, but that would have taken me a while to find, I'd guess. I was way off on the wrong track.

[2016-03-24 09:02] wellsie commented on #5
Np anytime.

[2016-03-25 00:13] rtlong commented on #5
FYI there's also a hard-coded region in `init-cfssl`. Now that I've fixed that as well, I was able to get this to complete, and now have a happy `kubectl` telling me my k8s cluster is up and running. Thanks again for sharing this with the world. I'm trying to get going with the latest pre-release of Deis, so needed to get a k8s cluster going. This has been a helpful jump start, as I know I'm going

[2016-03-25 00:23] wellsie commented on #5
Yeah damn - I realized that too just an hour ago :(

Glad this helped !!

[2016-03-25 16:16] #5 closed

[2016-05-09 00:54] ndbroadbent opened #7 "Gets stuck at null_resource.initialize: Still creating..."
Hi, firstly thanks for creating this, it's an awesome resource!

I'm just having some trouble getting it to work. When I SSH to 10.0.0.10, I see this:

    Failed Units: 1
      get-manifests.service

I probably screwed it up by trying to limit the number of servers, because I'm still waiting for AWS to increase my instance limit (currently at 5). I also don't need that much capacity right now, so

[2016-05-09 16:14] wellsie commented on #7
Hi Nathan. Glad this is useful ;)

I hadn't tried one etcd instance until this morning - it worked ok for me.

The `get-manifests.service` is responsible for fetching content from the s3 bucket we create. It shouldn't be affected by limiting the number of machines.

What does `systemctl status get-manifests -l` show on `10.0.0.10`?

You can also try to manually run the steps in `get-manifests.serv

[2016-05-10 14:56] ndbroadbent commented on #7
Hey thanks for the help! I just noticed this error in the output, from `s3-cp`:

[code]

Really not sure why that's happening, but it seemed to be fixed when I changed the sed commands to:

[code]

FWIW I have `gnu-sed` installed on my Mac.

[2016-05-10 15:08] ndbroadbent commented on #7
Whoops, no I forgot to reinstall `gnu-sed` before testing the change. The actual fix was just changing `-i bak` to `-ibak`:

[code]

Works on both sed versions.

[2016-05-10 15:22] #7 closed

[2016-05-10 15:22] wellsie commented on #7
Thanks Nathan. The error function (b8b590babc3c4b8264fd9ccaa97a0f92e526f6db) helps a lot ;)

[2016-05-10 16:09] ndbroadbent opened #10 "Doesn't seem to be idempotent if I run `make plan`"
I ran `make plan` as a test, to make sure that nothing would be changed between runs. But I got this output (a few details removed):

[code]

I ran `make apply` to make the changes, but `make plan` still shows 3 to add, 1 to change, 3 to destroy.

Is there anyway to stop it from recreating these things between runs?

[2016-05-10 16:41] wellsie commented on #10
I've identified the issue. Testing the fix now.

https://github.com/hashicorp/terraform/issues/6416

[2016-05-10 17:06] #10 closed

[2016-05-11 16:49] ndbroadbent opened #11 "Adding some additional functionality to tack, such as more logging options, monitoring, etc."
Hi, I'm just tweaking a few things and wondering if they might be useful to other people. I think we're getting kind of close to a Heroku-out-of-the-box on AWS, so was wondering if it might be something you that interests you?

One thing I don't really like is only having logs in CloudWatch, because then I can't read any logs in the k8s dashboard or on the command line. So I'm also installing:

*

[2016-05-11 16:50] ndbroadbent opened #12 "Errors when running `make clean` to tear down cluster"
This has been consistently happening the last few times I run `make clean`:

[code]

[2016-05-11 16:52] wellsie commented on #11
Hey Nathan. Yes all these things are of interest!! I had Kibana and ES up at one point but opted to start with CloudWatch since there wasn’t an example of it that I could fine. I agree though not having logs in the dashboard is a pain.

[2016-05-11 16:54] wellsie commented on #12
I don’t recall having seen that myself. Does punching `make clean` again work ?

[2016-05-11 17:02] ndbroadbent commented on #12
Nope I still get the same error. I think it's due to some network interfaces not being detached properly. Once I detach and delete those, the `make clean` is successful. Maybe this is a bug in terraform?

[2016-05-11 18:34] wellsie commented on #12
Does it happen every time ? I spin up and tear down clusters several times a day and haven't seen it yet.  Are you running 'make clean' right after 'make all' ?

[2016-05-11 20:09] ndbroadbent commented on #11
Ok great! I'm actually finding it really hard to port over fluentd and elasticsearch from the [kubernetes setup scripts](https://github.com/kubernetes/kubernetes/tree/master/cluster). I figured out where to copy the manifests to set up elasticsearch and kibana, but don't know where to put the fluentd stuff so that runs in every container.

[2016-05-11 20:21] ndbroadbent commented on #12
Ohhh I figured it out, Deis Workflow automatically provisions an extra load balancer. So I just needed to delete that first.

[2016-05-11 20:21] #12 closed

[2016-05-12 02:50] wellsie commented on #11
I'll had it working a couple of months ago. I'll take a look tomorrow.

[2016-05-12 23:01] wellsie opened #13 "Logging with ElasticSearch and Kibana"

[2016-05-12 23:26] wellsie commented on #13
Beware - the addons can take some time to settle. I have seen a race between the Kibana and DNS addon, so there may be restarts on the kibana-logging-v1-xxxxx pod:

[code]

[2016-05-12 23:36] wellsie commented on #11
@ndbroadbent take a look at #13 ([commit](https://github.com/kz8s/tack/commit/a3cd2df44c5556e64b20c2b62557e2692479ea42)). I pulled CloudWatch logging and added fluentd (daemonset), elasticsearch and kibana. Will merge to master once I've had time to test more. lmk how it goes for you.

[2016-05-13 07:21] ndbroadbent commented on #13
Oh cool, thanks! That's pretty much what I had set up, but I still felt like I was missing something. But that's great, I will test it out.

One thing I noticed is that elasticsearch is set up with `emptyDir`, so I guess it will lose all of it's data if the pod is unbound. Although when a container restarts, the data is still safe. But I guess this means that the elasticsearch pod can't be moved t

[2016-05-13 19:31] wellsie commented on #13
This is one of the reasons why I opted for CloudWatch - durability of the log data. Several things can be done to improve this situation with ElasticSearch - like running an HA configuration.

A quick a dirty way to pin a pod to a node is using [static pods](http://kubernetes.io/docs/admin/static-pods/). In fact I was using these before [DaemonSets](http://kubernetes.io/docs/admin/daemons/). Stati

[2016-05-21 20:18] #13 closed

[2016-05-22 20:13] tdeheurles opened #15 "s3 error and autoscaling not starting"
Hi, first thanks for project, I learned a lot from it.

I'm trying to start your kube cluster.

![image](https://cloud.githubusercontent.com/assets/9496645/15455912/81e3db82-2061-11e6-95a3-af89af31bb2d.png)

I have tried the deployment through a docker container first and now with an ubuntu vm. I have always the same issue. Do you have an idea on that s3 problem ? I'm admin with the aws account us

[2016-05-22 20:47] tdeheurles commented on #15
Maybe it could help:

After a few moment, I have tried to run `make clean`. The cluster was finally started and the autoscaling was created. `make clean` was failing to delete everything, blocking on the subnet deletion.
After I manually removed the scaling group, the `make clean` command ran successfully.

[2016-05-23 00:11] wellsie commented on #15
Hey Thibault, you are welcome ;)

Is it working for you now ? Lmk if it is and I'll dig into that code.

[2016-05-23 05:19] tdeheurles commented on #15
I will test again today. Maybe the cluster was finally up but the kubeconfig was not generated and kubectl is not configured.

~~What are these s3 push for ?~~
I suppose that's the way you share the credentials between the nodes.

If you are interested, I have a script to generate and run the container and also one to install the dependencies for ubuntu.

[2016-05-23 06:17] tdeheurles commented on #15
I'm looking to [that file](https://github.com/kz8s/tack/blob/cda8fb8ba27ba4ae24ec0abfff4a200839c441cc/modules/s3/s3-cp#L49).
The `$HYPERKUBE` initialisation seems commented. Did you forgotten something when updating to 1.2.4 ?

[2016-05-23 07:28] tdeheurles commented on #15
### s3 cp

s3 cp issue is linked to aws configuration.

At first, my `aws cli` was configured to `eu-central-1` and the region for the tack deployment was `us-west-1`. I switched my `aws cli` configuration to `us-west-1` and that s3 cp problem gone.

Maybe we could add the region explicitly [here](https://github.com/kz8s/tack/blob/master/modules/s3/s3.tf#L12) as an ENV ?

### autoscaling

The auto

[2016-05-23 10:48] tdeheurles commented on #15
autoscaling after 3 hours:
![image](https://cloud.githubusercontent.com/assets/9496645/15468443/93af0ce6-20e4-11e6-8062-4ff793167b41.png)

[2016-05-24 00:15] wellsie commented on #15
The problem with the asg is most definitely due to payloads not copying to the s3 bucket - as per the screenshot. Although I wasn't able to reproduce the issue myself, I suspect it is due to the _ambient_ region from your environment not matching the region used by terraform. The error message does say to pass the `--region` flag to `aws s3 cp`.

I have updated the code to pass in the region to th

[2016-05-25 15:45] #15 closed

[2016-06-02 10:33] jdn-za opened #17 "etcd cloud-config endless loop after failed untis"
Heya :D

Firstly amazing project, <3 your terraform layout big time

I have just started to build with tack, confirmed all pre-req's are correct and on the right versions.

I adjusted the MakeFile to use eu-central-1 and fired it off, no errors as such yet but when it got to about here: `null_resource.verify: Still creating... (1h0m20s elapsed)` I decided it was time to open up the etcd security g

[2016-06-02 10:35] tdeheurles commented on #15
Thanks for all the improvment, I didn't had time to test again, sorry. Will come back to you as soon as I can work on kubernetes again.

[2016-06-02 10:40] jdn-za commented on #17
So shame on me for not looking at the closed issues first, my bad ^.^

https://github.com/kz8s/tack/issues/7

proved to helpful with debugging

[code]

Taking a look at the s3 bucket I can see that he only think there is the `/ssl/k8s-*.tar` part and _no_ `/manifests` was placed

[2016-06-02 10:43] jdn-za commented on #17
I see my botocore is a older version than yours though

[code]

[2016-06-02 10:51] jdn-za commented on #17
some digging and it looks like boto and eu-central-1 / s3 dont play nicely

https://github.com/boto/boto/issues/2741

[2016-06-02 12:37] jdn-za commented on #17
found it

[code]

TMP=$(mktemp -d) to TMP=$(mktemp -d tmpp)

[code]

Just dirty forcing of making the tmp dir, but it worked. Will pr when further along

[2016-06-02 14:46] wellsie commented on #17
Hey @jdn-za. Glad you like the terraform layout !! Also glad you worked out your issue. What os you running terraform on ?

I apologize, after the fact, for the hackiness around the s3 bucket provisioning. It has been the cause of several opaque issues :( I will be working on addressing this over the next few weeks. At the very least better messaging around what is happening and where to look for

[2016-06-02 15:07] wellsie opened #18 "SELinux: mount invalid. Same superblock, different security settings for (dev mqueue, type mqueue)"
[code]

related:
- https://github.com/docker/docker/issues/20871

[2016-06-02 15:30] jdn-za commented on #17
Running on OSX 10.10.5, I do have a huge layer of crud on this machine though. just did a fresh install of Ubuntu 14.04 LTS to another laptop and will see if I run into similar issues.

Im busy exploring adding in some of my terraform modules to describe EC2 specific auxiliary services we would want inside the vpc but not part of kubernetes cluster itself.

Dont apologize mate! its the best starti

[2016-07-07 13:10] neerfri opened #21 "Possible bug where all master instances are in the same AZ"
Hi,

first thing's first. tack is awesome!

I've noticed all my masters are placed in the same AZ:
![image](https://cloud.githubusercontent.com/assets/21379/16654053/a4e7e3ca-445c-11e6-82e6-1974fcb11ebf.png)

I believe the source of this is in the following line:
https://github.com/kz8s/tack/blob/master/modules/etcd/ec2.tf#L18
should prabably be:
`subnet_id = "${ element( split(",", var.subnet-ids

[2016-07-27 12:36] pixeleet opened #25 "s3-iam-get return nothing (eu-central-1)"
I have verified that the files exist on S3 and downloading the very same tar and extracting it yields the correct files, yet with the profile assigned the manifests and the addons are never downloaded from S3 and thus the setup never finishes properly.

region = "eu-central-1"
ami = "ami-7b7a8f14" CoreOS-stable-1068.8.0-hvm

[2016-07-27 14:17] wellsie commented on #25
can you ssh into an etcd box (`make ssh`) and then do a `systemctl` ?

[2016-07-27 15:52] pixeleet commented on #25
It’s the signature version, seems that eu-central-1 uses v4 and eu-west-1 still uses v3 so it’s an issue of s3-iam-get.

Opened an issue there. https://github.com/kz8s/s3-iam-get/issues/1 https://github.com/kz8s/s3-iam-get/issues/1

[2016-07-27 19:10] wellsie commented on #25
@pixeleet - i've throw together a pre-signed url generator:
https://github.com/kz8s/s3-get-presigned-url

i've checked that this works in `eu-central-1`.

would you mind verifying that this fixes your issue? code is on branch [issue-25](/kz8s/tack/tree/issue-25)

[2016-07-28 07:35] pixeleet commented on #25
Just ran it. Worked like a charm ;)

Good job man! It's super helpful as we're migrating away from ECS and this just saved me a ton of time :) 👍

[2016-07-28 07:36] #25 closed

[2016-07-28 13:48] wellsie commented on #25
You're welcome !! Always 'extra' happy to help someone move off of ECS too

[2016-08-03 07:29] pixeleet opened #27 "Front Facing Load Balancer"
Hey @wellsie

Did you already think about a front-facing load balancer implementation?
I'm not happy with declaring `Type`: `LoadBalancer` as it will create a new one for each service.

Did you try the [NGiNX Ingress Controller](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx) already? [Deis-Router](https://github.com/deis/router)?

I'll be experimenting a bit today, bu

[2016-08-03 14:33] wellsie commented on #27
I've been leaning towards nginx ingress controller; but haven't done any experimenting yet. Am interested to hear your thoughts.

[2016-08-03 17:23] pixeleet commented on #27
I have tried deis's router today, but I'm not entirely happy with the magic happening there, for instance the service **has** to expose port 80 to be considered for routing, and it wasn't properly documented, and while in their product _Workflow_ this is handled by the deis-controller, if you're not opting for the whole package but the router only, there is some magic to cover by hand.

I'll try t

[2016-08-04 03:20] streamnsight commented on #18
same here.

[2016-08-04 21:24] wellsie commented on #18
just verified this issue is resolved on CoreOS alpha (1122.0.0)

[2016-08-08 17:45] wellsie opened #29 "terraform 0.7.0 breaking changes"
- map handling in tfvars

[2016-08-10 07:25] pixeleet opened #31 "CoreOS Stable AMI's deregistered / unavailable (eu-central-1 and others)"
Hey @wellsie

Not sure if this affects other AZs but CoreOS AMI discovery is broken on eu-central-1.
The AMI ID being found is non accessible as a public AMI.

What could have changed?

Cheers,
David

[2016-08-10 14:01] wellsie commented on #31
upstream issue affecting multiple regions:
https://github.com/coreos/bugs/issues/1509

![screen shot 2016-08-10 at 6 56 11 am](https://cloud.githubusercontent.com/assets/5160593/17556365/019cb110-5ec8-11e6-8aa3-7a01dd933a12.png)

[2016-08-10 18:17] #31 closed

[2016-08-10 18:17] wellsie commented on #31
fixed upstream

[2016-08-11 14:29] pixeleet commented on #27
@wellsie

I've tried the `deis/router` and the `nginx-ingress-controller` from the kube team.
Both pretty much work the same way, the only problem I have with the normal `nginx-ingress-controller` is that it doesn't fare very well with upstreams not being present or launching still.

So I can foresee a situation where your ELBs start detaching istances because NGiNX starts dying and suddenly you c

[2016-08-11 15:38] pixeleet opened #33 "Kube-DNS and Dashboard stays pending forever"
Suddenly, seemingly without reason I'm running into an issue where the DNS and Dashboard pods are never reaching failed or running state but stay pending, pretty much forever.

Getting the logs from the DNS container gives me this error:
`kubectl logs kube-dns-v10-6xdx7 --namespace=kube-system`
`Error from server: a container name must be specified for pod kube-dns-v10-6xdx7, choose one of: [kube2

[2016-08-11 16:09] pixeleet commented on #33
My bad, passing the public subnet-ids to worker instead the private ones was a bad idea.

[2016-08-11 16:25] pixeleet commented on #33
Well, actually, I'm still seeing the error, so I'm reopening the issue.

[2016-08-13 12:50] nkhine opened #35 "no associated IAM Roles"
Hello,
I am trying to configure a coreos cluster, but get this error

[code]

any advice, much appreciated.

[2016-08-13 14:27] nkhine opened #36 "Error connecting to bastion: ssh: handshake failed: ssh"
after 5 min, i get this timeout.

[code]

what am i missing?

[2016-08-15 10:11] pixeleet commented on #35
Just `make all` again, sometimes terraform fails to create the IAM Profile at the same time everything else is being created in parallel. That's somewhat of a `known issue`.

[2016-08-15 10:14] pixeleet commented on #36
Make sure you don't have the key already in AWS
( replace `<cluster_name>` with your cluster name )
`aws --region eu-central-1 ec2 delete-key-pair --key-name k8s-<cluster_name>`

The pre-configure step will try and create a key-pair in aws.
Can you try deleting the key (if it already exists) with the command above, then remove, `.keypair`, `.cfssl`, `.terraform` directories and `terraform.tfvars`

[2016-08-15 11:02] nkhine commented on #36
Hi, this is what i did

(trint-boto) ➜  tack git:(master) ✗ aws --region eu-west-1 ec2
delete-key-pair --key-name k8s-test
(trint-boto) ➜  tack git:(master) ✗ rm -rf .cfssl .keypair .terraform
terraform.tfvars
(trint-boto) ➜  tack git:(master) ✗ make all
null_resource.verify-etcd (remote-exec):   User: core
null_resource.verify-etcd (remote-exec):   Password: false
null_resource.verify-etcd (remot

[2016-08-15 11:16] pixeleet commented on #36
@nkhine Can you verify that your keypair is created?
`aws ec2 describe-key-pairs`

One of the things that's not explicitly documented is that `tack` relies on your `aws` cli being properly configured. Can you verify that `aws` is properly configured and you're getting outputs from it?

[2016-08-15 11:17] nkhine commented on #36
yep, it is working

[code]

[2016-08-15 11:18] pixeleet commented on #36
@nkhine Shouldn't the `key-name` be `k8s-test`?

as per your pervious comment:
`(trint-boto) ➜  tack git:(master) ✗ aws --region eu-west-1 ec2
delete-key-pair --key-name k8s-test`

[2016-08-15 11:19] pixeleet commented on #36
`io.tf` => `variable "name" { default = "test" }`

[2016-08-15 11:20] nkhine commented on #36
i had changed the cluster name to trint

[2016-08-15 11:20] pixeleet commented on #36
Well yes, but I think the makefile has `test` hardcoded as name. :)

[2016-08-15 11:21] pixeleet commented on #36
Can you try changing the CLUSTER_NAME to `trint` too and then try again?

[2016-08-15 11:22] nkhine commented on #36
i had changed that too, here is my makefile

[code]

[2016-08-15 11:27] pixeleet commented on #36
Okay, so let's start from the first step then, `make clean` and delete the folders and the vars, `make all` and let me know if it still fails.

[2016-08-15 12:24] pixeleet commented on #36
@nkhine Can I close this issue?

[2016-08-15 13:01] nkhine commented on #36
not yet, as i just got back and will try again

On 15 August 2016 at 13:24, David Lonyai notifications@github.com wrote:

##

%>>> "".join( [ {'_':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,_)&uzq^zqf" ] )

[2016-08-16 10:41] nkhine commented on #36
the default region in the  ~/.aws/credentials file should match the region you are setting up this in. i had several aws credentials.

[2016-08-16 10:41] #35 closed

[2016-08-16 10:59] pixeleet commented on #36
@nkhine glad you fixed it, I inject my AWS credentials in my bash_profile so they're always available as ENV vars. ;)

[2016-08-16 11:10] nkhine opened #37 "unable to do port forwarding: socat not found"
not sure if this issue is specific to using tack, but i have setup a mongo cluster and am able to access the command line, but i am not able to port-forward due to `socat not found`

i have a non coreos k8s cluster running and there is working.

here is the error:

[code]

has anyone had a similar issue or do i have to use the beta channel for coreos?

[2016-08-16 11:30] pixeleet commented on #37
@nkhine https://github.com/kubernetes/kubernetes/issues/19765 seems to be the cause

[2016-08-16 11:39] nkhine commented on #37
yeah i was reading at it and other suggestions

On 16 August 2016 at 12:30, David Lonyai notifications@github.com wrote:

##

%>>> "".join( [ {'_':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,_)&uzq^zqf" ] )

[2016-08-17 04:49] mirthy commented on #21
I had the same problem too, I fixed in a pull request that I have open that supports existing VPCs.

[2016-08-19 03:31] #37 closed

[2016-08-19 03:43] wellsie commented on #21
Thanks @neerfri - i'm really glad you like tack !!

I've deliberately kept all etcd instances in one AZ, until now, because I have not yet had a chance to investigate how raft and etcd behave across AZs. It most likely will be fine, but I would like to run some experiments first.

I will spend some time this week digging more into this.

For reference:
https://github.com/kubernetes/kubernetes/issu

[2016-08-22 20:30] nkhine commented on #33
i am also getting a similar issue, after a clean install

[code]

[2016-08-23 10:13] pixeleet commented on #33
@nkhine In my case it was related to passing in the wrong subnet, and thus `kube-dns` couldn't resolve the ip it was supposed to advertise.

Did you change something about subnets?

[2016-08-23 10:16] nkhine commented on #33
no, i have not, will try and see again

On 23 August 2016 at 11:13, David Lonyai notifications@github.com wrote:

##

%>>> "".join( [ {'_':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,_)&uzq^zqf" ] )

[2016-08-23 10:17] pixeleet commented on #33
What type of instances are you using for masters and workers?

[2016-08-23 10:36] nkhine commented on #33
[code]

On 23 August 2016 at 11:17, David Lonyai notifications@github.com wrote:

##

%>>> "".join( [ {'_':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,_)&uzq^zqf" ] )

[2016-08-23 18:35] nkhine commented on #36
sorry, i just tired again to run it and got the same issue:

[code]

i have removed all aws profiles, reset my .zshrc so does not have any prests for aws and still this error.

[2016-08-23 18:48] wellsie commented on #36
this can happen when there are too many keys in `ssh-agent`. do a `ssh-add -l`. are there a bunch of keys in there ?

[2016-08-23 18:55] pixeleet commented on #36
@nkhine @wellsie I usually encounter this as `terraform destroy` didn't complete properly, and the `.keypair` still exists, `make` is just gonna think, oh yeah this task is already done.

Do you have something similar going on?

[2016-08-23 19:28] wellsie commented on #36
yep - i have definitely seen that. those key-pairs get orphaned and wreak havoc when they accumulate. i've been wanting to address the key pair situation for some time - its flakey as it is.

[2016-08-24 07:28] nkhine commented on #36
yes, there are 12 keys

[code]

will delete and try again

[2016-08-24 07:40] nkhine commented on #36
`ssh-add -D`  fixed it, thank you all for your help

[2016-08-24 07:40] #36 closed

[2016-08-24 10:59] guiocavalcanti opened #45 "Error refreshing state"
After running `make all` and `make clean`, when I run `make all` again I receive this error:

[code]

[Here](https://gist.github.com/guiocavalcanti/ba5878a46696c81d009ed0c91a56dc9f) you can see the complete log.

[2016-08-24 11:09] guiocavalcanti commented on #45
Maybe related with https://github.com/hashicorp/terraform/issues/7104

[2016-08-24 11:21] guiocavalcanti commented on #45
I cherry-picked https://github.com/kz8s/tack/commit/fb3d0a5f30ef9e84ecf6ca4a064bbb4150bfb38f and switched do 0.7.1 and the error still occurs.

[2016-08-24 12:49] nkhine opened #46 "increase etcd cluster size"
now that i have a tack server running, what is the correct way to increase the etcd cluster from the current 3 to say 5?

running `make all` gives error like:

[code]

[2016-08-24 13:36] wellsie commented on #46
in general you should run `make plan` (`terraform plan`) after making changes to the `tf` files - to verify the plan. then `make apply` (`terraform apply`) to apply them.

having said that, changing a running etcd cluster's configuration is not straightforward. i would recommend sizing the etcd cluster ahead of the first terraform run.

the errors you are seeing are due to the `all` make goal re-r

[2016-08-24 13:43] nkhine commented on #46
where do i change this value?

On 24 August 2016 at 14:36, Jono Wells notifications@github.com wrote:

##

%>>> "".join( [ {'_':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,_)&uzq^zqf" ] )

[2016-08-24 13:46] wellsie commented on #45
for transient errors with terraform like this one, simply running `make all` will often get cluster spin up moving again.

fyi - will be moving [master](https://github.com/kz8s/tack/tree/master) to terraform 0.7.1 today.

[2016-08-24 13:47] nkhine commented on #46
ok i see it, darn `variable "etcd-ips" { default =
"10.0.0.10,10.0.0.11,10.0.0.12" }`

On 24 August 2016 at 14:42, Norman Khine norman@khine.net wrote:

##

%>>> "".join( [ {'_':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,_)&uzq^zqf" ] )

[2016-08-24 13:47] wellsie commented on #46
https://github.com/kz8s/tack/blob/master/io.tf#L26

[2016-08-24 14:02] nkhine commented on #46
thanks

[2016-08-24 14:02] #46 closed

[2016-08-24 14:22] nkhine opened #47 "could not find service for endpoint "kube-controller-manager" in namespace "kube-system""
in my logs i get these:

[code]

have i missed something in the setup?

[2016-08-24 14:31] wellsie opened #48 "using template_file as a resource is deprecated; consider using the data source instead"
not an issue yet. safe to ignore with terraform v0.7.1.

[code]

[2016-08-24 14:56] nkhine opened #49 "correctly expose ingress load balancer"
Hello

I have a node.js app and this is now running in the k8s cluster and i have added a service. How do I enable the traffic to pass to it?

[code]

[2016-08-24 15:39] guiocavalcanti commented on #45
@wellsie running multiple times didn't solve the problem =/

[2016-08-24 15:52] wellsie commented on #47
nope you didn't miss anything. most likely this is the dashboard looking for `kube-scheduler` and `kube-controller-manager`endpoints. i'm investigating...

[2016-08-24 16:19] nkhine commented on #49
it is fine, i was using the wrong elb name

[2016-08-24 16:19] #49 closed

[2016-08-25 08:18] nkhine opened #51 "post creation - adding a worker of a different AWS instance type"
Hi,
I have setup a cluster with 3 masters and 3 workers, now I want to add additional 3 workers to the cluster with a different AWS instance type in order to run mongodb on these, what is the correct way to do this?

Any advise is much appreciated.

[2016-08-25 15:00] wellsie commented on #51
i would copy the [worker module](https://github.com/kz8s/tack/blob/master/modules.tf#L115-L132) entry in `modules.tf`. rename the copy to say `module "worker2"` and then change the `instance-type` as desired.

this will create another ASG of workers.

to apply the changes to the running cluster:

[code]

[2016-08-25 15:03] wellsie commented on #45
@guiocavalcanti can you try with the latest [master](https://github.com/kz8s/tack/tree/master)? I wouldn't have expected cherry picking  https://github.com/kz8s/tack/commit/fb3d0a5f30ef9e84ecf6ca4a064bbb4150bfb38f to work given the differences between the branches.

[2016-08-25 18:17] guiocavalcanti commented on #45
@wellsie you are right! but the error still occurs. Do you think this https://github.com/hashicorp/terraform/issues/5288  recently closed issue solves the problem?

[2016-08-25 23:09] guiocavalcanti commented on #45
@wellsie I compiled with that commit and the error still occurs. Any ideias?

[2016-08-25 23:16] nkhine opened #53 "Failed Units: prefetch-hyperkube-container.service"
when i login to any of the workers, i get this:

[code]

[2016-08-25 23:23] wellsie commented on #53
yep - seen that one. it isn't critical. i haven't had a chance to debug it yet. if it bothers you, 86 these lines:

https://github.com/kz8s/tack/blob/master/modules/worker/cloud-config.tf#L18-L29

[2016-08-25 23:32] nkhine commented on #53
ok

On 26 August 2016 at 00:23, Jono Wells notifications@github.com wrote:

##

%>>> "".join( [ {'_':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,_)&uzq^zqf" ] )

[2016-08-25 23:52] nkhine opened #54 "dial unix /var/run/fleet.sock: connect: no such file or directory"
running

[code]

[2016-08-26 00:36] wellsie commented on #54
This would most likely be because fleet is not turned on. I don't turn it
on because it is not needed for k8s. You could add a fleet section to the
cloud configs if you need / want it:

https://coreos.com/os/docs/latest/cloud-config.html
On Thu, Aug 25, 2016 at 4:52 PM Norman Khine notifications@github.com
wrote:

[2016-08-26 01:37] wellsie commented on #45
Can you try cloning tack to a new directory. In the makefile change the region to somewhere different from you last attempts and try 'make all' from there ? Lmk how it goes.

[2016-08-26 14:31] #54 closed

[2016-08-26 15:20] #29 closed

[2016-08-27 19:55] #51 closed

[2016-08-30 00:47] rothgar commented on #47
I'm getting the same error (not using tack) some I'm subscribing to this when someone finds a fix

[2016-09-06 23:22] wellsie opened #59 "don't initiate terraform destroy if exposed services (load balancers) exist"
fixing this manually sucks !!

[2016-09-08 01:04] nkhine opened #61 "TLS handshake error and Too many authentication failures"
Hi, I have setup a k8s cluster using tack, all worked well, until I started to test `killing` EC2 machines and for these being recreated in that now in my logs I am getting these errors:

[code]

I can login into the bastion machine but I am no longer able to login to none of the etcd nor worker machines.

The only way to access the bastion machine is by typing:

[code]

or if i try to login to on

[2016-09-09 15:09] matthewvalimaki opened #63 "On Vagrant `make all` gives "/bin/sh: 1: [[: not found""
Created myself a Vagrant box where `tack` is on `/vagrant`. With AWS region set to "west" and after executing `make all` I saw the following:
[code]

[2016-09-09 15:43] matthewvalimaki opened #64 "make clean does not remove generated files"
Readme says this about `make all`: "To destroy, remove and generally undo everything". However it would seem that file such as `terraform.tfvars` is not deleted and is not re-generated next time I do `make all`. For example if I change AWS region while mentioned file exists the change is not applied.

Perhaps the reason to keep this and other files is for safety, just in case attempt to remove res

[2016-09-09 17:13] wellsie commented on #64
hi. the readme says that about `make clean`.

Here is the `clean` goal:

[code]

It does the following in this order:
- `terraform destroy`
- remove the ec2 keypair
- kill the `kubectl proxy` if it is running
- remove the `.addons/` directory
- remove `terraform.tfvars` and `terraform.tfplan`
- remove the `.terraform/` directory
- remove the `tmp/` directory
- remove the `.cfssl/` directory

are r

[2016-09-09 17:20] wellsie commented on #63
can you share the vagrant box definition you are using ?

this looks like a shell isssue. try changing this section in the `Makefile`:

[code]

to:

[code]

note the single '[' ']'. coming to think of it `[[ -d $@ ]]` is redundant and can probably be removed. i'll check into that later and post a fix.

[2016-09-09 17:25] matthewvalimaki commented on #64
Perhaps it doesn't work for me because of this:

[code]

Should've posted that too earlier. Sorry.

[2016-09-09 17:32] matthewvalimaki commented on #63
Vagrantfile attached.
[Vagrantfile.txt](https://github.com/kz8s/tack/files/464479/Vagrantfile.txt)

Great success! So that indeed fixed it for me.

[2016-09-09 17:47] matthewvalimaki opened #65 "Stuck on "Curling apiserver external elb""
This might be bit of on the support side than an issue side, feel free to close it if so. I am not familiar with `tack` scripts or AWS really.

Fresh after cloning `tack`, setting AWS region to `us-west-2` and running `make clean` I get to "Curling apiserver external elb" which then goes on indefinitely. Looking at Load Balancers on EC2 Management I see that the LB has 3 instances (etcd1/2/3-k8s-t

[2016-09-09 20:20] wellsie commented on #64
can you remove this line from the `Makefile` and try again?:
`pkill -f "kubectl proxy" ||:`

What os are you running on ?

[2016-09-09 20:30] matthewvalimaki commented on #64
Tried:

[code]

It says no such file or dir but both tfvars and tfplan exist.

Ubuntu 16.04

[2016-09-15 05:59] mirthy commented on #61
It's possible you have too many keys in your ssh agent.  Try ssh-add -D to remove them all and then add the keys you need.

[2016-09-15 07:27] nkhine commented on #61
Would this be on my local client or the bastion machine?

[2016-09-15 15:16] #64 closed

[2016-09-15 20:17] mirthy commented on #61
Local client

[2016-09-21 09:29] nkhine opened #67 "Error creating subnet: InvalidParameterValue: Value (us-east-1c)"
I get the following error:

[code]

[2016-09-21 20:07] #67 closed

[2016-09-22 07:39] nkhine opened #68 "Correct way to add new worker nodes that are different instance type?"
Hello,
I would like to add additional worker nodes, but these to be of a different EC2 instance type, what is the correct way to achieve this?
Would `terraform plan` and `terraform apply` after creating the worker type?
Any advice much appreciated.

[2016-09-22 10:12] alogoc commented on #18
Doesn't look like it's solved. I first experienced this issue after upgrading to 1122.2.0 stable.

[code]

[code]

[code]

[2016-09-22 20:16] yagonobre opened #69 "endpoints \"kubernetes-dashboard\" not found"
Getting the error

[code]

After run
[code]

[2016-09-22 20:39] nkhine commented on #61
I have removed all the keys and tried again, but I am not able to login. The same happened on a new cluster i setup couple of days ago - initially I was able to login, but after a while the ssh port 22 is blocked with the above error.

Although I did run a `terraform plan` after I had created the cluster, would this have changed the .pem files?

[2016-09-22 20:44] wellsie commented on #69
it can take some time for the add-ons to load. make sure that all add-ons are running first:

`kubectl get po --namespace=kube-system`

or

`make pods`

try again after all of the add-ons are loaded.

[2016-09-22 20:51] yagonobre commented on #69
All add-ons are running

[code]

[2016-09-22 22:54] wellsie commented on #69
actually the add-ons are not running. those are kubernetes core system pods.

do you have a `.addons` directory ?

what is the output from `kubectl cluster-info` and `make nodes` ?

[2016-09-22 22:55] yagonobre commented on #69
Yes, i have a .addons directory

I add the addons manually and now it works, thanks :D

[2016-09-22 22:56] wellsie commented on #69
no problem 😄 👍

[2016-09-22 22:56] #69 closed

[2016-09-22 22:57] owenmorgan opened #70 "Unable to access dashboard from elb"
Hello. After a fresh build, I'm unable to access the dashboard from the ELB

Https://{ELB}/ui

Gives "Unorthorized" response

[2016-09-22 22:58] wellsie commented on #65
sorry for the delay. i have not seen this issue before. it does take some time for the instances to come online. are you still seeing the issue?

[2016-09-22 23:04] yagonobre opened #71 "Cant get workers nodes"
I'm trying to launch a cluster in a existing vpc, but make nodes return only the etcds nodes.

[code]

[2016-09-22 23:09] wellsie commented on #71
ssh into a worker node and run `journalctl -fl` to monitor what is going on there.

`make ssh-bastion` to get to your bastion host. then `ssh <worker_node_ip>`.

[2016-09-22 23:14] yagonobre commented on #71
[code]

[2016-09-22 23:20] wellsie commented on #71
can you ping an etcd instance from a worker ?

`ping etcd1.tesseract.k8s`

[2016-09-22 23:22] yagonobre commented on #71
Yes

[code]

[2016-09-22 23:22] #65 closed

[2016-09-22 23:25] #63 closed

[2016-09-22 23:26] wellsie commented on #70
see #65

[2016-09-22 23:29] wellsie commented on #68
take a look at the commits from #72
- create a new worker module (make sure it's `worker-name` is unique)

only needed if you are modifying an existing cluster:
- `terraform get`
- `terraform apply`

[2016-09-22 23:30] owenmorgan commented on #70
All instances on the ELB are in service

[2016-09-22 23:34] wellsie commented on #71
`systemctl status` ?

[2016-09-22 23:36] wellsie commented on #70
sorry #69

[2016-09-22 23:37] yagonobre commented on #71
[code]

[2016-09-22 23:37] owenmorgan commented on #70
I can access the dashboard after kubectl proxy on localhost. But not through the ELB

[2016-09-22 23:40] wellsie commented on #70
https://github.com/kubernetes/dashboard/issues/574

[2016-09-22 23:41] #70 closed

[2016-09-22 23:48] wellsie commented on #71
`ls -laR /etc/kubernetes/` ?

[2016-09-22 23:54] yagonobre commented on #71
Sorry, this the correct output

systemctl status

[code]

[code]

[2016-09-23 00:01] wellsie commented on #71
there are two failed units. i'm guessing they are:
1. s3-get-presigned-url.service
2. get-ssl.service

can you do:

[code]

[2016-09-23 00:03] yagonobre commented on #71
[code]

[code]

[2016-09-23 00:12] wellsie commented on #71
try this on a worker:

[code]

[2016-09-23 15:52] yagonobre commented on #71
I can't get the file

[code]

[2016-09-26 16:21] guiocavalcanti opened #73 "LoadBalancer pending forever"
Hey, I just deployed a k8s cluster from master and tried to create a LoadBalancer Service [1]. The external IP (elb) isn't provisioned and hangs forever:

[code]

[1]
[code]

[2016-09-26 16:41] guiocavalcanti commented on #73
Nevermind. It was my account ELB limit. Thanks!

[2016-09-26 16:41] #73 closed

[2016-09-27 15:36] owenmorgan opened #74 "Unable to view Grafana"
From uncommenting the "type: LoadBalancer" from "grapfana-service.yaml" and running

$ kubectl create -f deploy/kube-config/influxdb/

Everything loads ok, and I'm able to see metrics on the Dashboard. But hitting the ELB thats created for Grafana, I see the below.

image
![image](https://cloud.githubusercontent.com/assets/10656664/18880683/a5e3fcdc-84d0-11e6-89de-71b20c0c8942.png)

access log on

[2016-09-29 13:46] guiocavalcanti opened #75 "Upgrading Kubernetes"
Do you have plans on using k8s 1.4.0? If not, how can I upgrade my version?

[2016-09-29 13:48] wellsie commented on #75
Yes. Will release update later today.

[2016-09-29 14:29] owenmorgan commented on #75
Will we be able to update an existing cluster?

[2016-09-29 15:28] yagonobre commented on #71
I fix my vpc and now it works. Thanks

[2016-09-29 15:28] #71 closed

[2016-09-29 15:37] yagonobre opened #76 "AWS Auto Scaling Policy"
Tack suport Scaling UP/Down Policy?

[2016-09-30 02:56] jaigouk commented on #15
I just had similar problem. I solved the problem by chaining the name of bucket.

[2016-09-30 08:42] owenmorgan commented on #76
it creates an ASG, but no Scaling Policies

[2016-09-30 20:19] guiocavalcanti commented on #74
@owenmorgan there's some problem loading static files. Try to run `kubectly proxy` and access localhost:8001/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana

[2016-09-30 20:22] guiocavalcanti commented on #61
@nkhine try to connect using:

[code]

[2016-09-30 20:34] yagonobre commented on #76
If I create the scaling polices, this will work?

[2016-10-01 06:36] nkhine commented on #61
[code]

[2016-10-01 17:43] owenmorgan commented on #76
Yes. If you make it in terraform, please share

[2016-10-01 19:52] nkhine commented on #61
in my logs i see:

[code]

[2016-10-01 19:52] adambom commented on #75
@owenmorgan upgrading the k8s version requires deleting the etcd cluster, where all the kubernetes state is stored on ephemeral disk. I have a forked version of tack where etcd state is persisted on an ELB volume, and that works beautifully. Would anybody be interested in a PR to contribute that back to tack (@wellsie)? Let me know and I will clean up and submit.

In the meantime, you can use a si

[2016-10-04 13:10] owenmorgan commented on #75
Thanks @adambom. how are we looking on an update @wellsie ?

[2016-10-04 22:58] adambom commented on #75
@owenmorgan looks like it was patched in 8f2a62eaa4d3ade4930dcb5d80e8f2d3a072a8a7

[2016-10-04 23:00] adambom commented on #75
Oh one other thing you'll need to do when you upgrade is taint or manually update the S3 bucket, so that the files in manifests/etc.tar point to the version of k8s you want to use. Otherwise the update won't actually take.

[2016-10-04 23:01] owenmorgan commented on #75
great. ill give it a shot. thanks @wellsie @adambom

[2016-10-04 23:02] adambom commented on #68
You may find this useful as well: http://kubernetes.io/docs/user-guide/node-selection/

[2016-10-04 23:12] owenmorgan commented on #75
is the backup / restore still necessary @adambom ?

[2016-10-04 23:43] wellsie commented on #75
i recommend upgrading the cluster manually. i will write up the procedure later this week - in the meantime here is the basic process:

# update kubelet.service on worker nodes
- ssh into each node and update `KUBELET_VERSION` in `/etc/systemd/system/kubelet.service`
  - [valid KUBELET_VERSION values](https://quay.io/repository/coreos/hyperkube?tab=tags)
  - `sudo vim /etc/systemd/system/kubelet.s

[2016-10-04 23:48] yagonobre commented on #76
I will submit a PR

[2016-10-04 23:48] #76 closed

[2016-10-04 23:58] #68 closed

[2016-10-05 00:01] wellsie commented on #61
#77 changes the ssh behavior so this should no longer be a problem.

[2016-10-05 19:54] kvey opened #79 "Question: usable as a terraform module? or does this require calling the makefile independently"
Is this project usable as a terraform module?
Or does this require calling the makefile independently.
Wondering how easy or hard this is to keep with including this in the rest of my terraform config, versus managing this portion of infrastructure from/as a separate repo.

[2016-10-05 19:58] wellsie commented on #79
yes `tack` can theoretically be used as a terraform module. the inputs and outputs are defined in `io.tf` in the root directory. be aware though that some of the modules 'expect' things to be in certain places - ie certificates for ssl. i am actively working on relaxing those requirements.

[2016-10-05 20:00] kvey commented on #79
Thanks! Wanted to confirm before getting into that.

[2016-10-05 22:37] #79 closed

[2016-10-05 23:08] kvey commented on #79
Fails to get the AMI ID - due to skipping the makefile I expect - do you have any recommendations for fixing this?

My solution in this case would probably be to just set it to an actual var on my end since I can assume everything the makefile is otherwise trying to determine?

Overall the makefile is doing quite a lot, I think not making it really viable to purely use this as a module?
I suppose

[2016-10-07 16:57] jaigouk commented on #74
I was able to install deis with grafana

[2016-10-10 12:43] guiocavalcanti opened #80 "Losing connection while running kubectl exec and logs"
Since Kubernetes 1.3.7 I loose connection while running commands like `kubectl exec -it pod -- /bin/bash` after 1 minute idle.

The same problem occurs when using `kubectlg logs -f pod-name`.

Any ideia on what can be causing this?

[2016-10-11 17:24] wellsie commented on #80
Yep - this is almost certainly due to the default timeout on the public apiserver ELB. the timeout can be extended up to 3600 seconds. I am testing 3600 as the default value now. I will update master later if everything checks out ok.

[2016-10-11 17:32] guiocavalcanti commented on #80
@wellsie hey, that makes sense! thank you!

[2016-10-11 20:35] guiocavalcanti opened #84 "Secrets volume stop working when running Autoscaling"
Hey, we just enabled AS Policy with tack. When two instances were terminated by the autoscaling suddenly all  new PODs with Secrets halted in the `ContainerCreating` phase:

[code]

If we describe the pod we can see volume mount timeout:

[code]

[2016-10-11 20:40] guiocavalcanti commented on #84
btw, all EBS attached to EC2 are marked to be destroyed on instance termination.

[2016-10-12 16:26] #80 closed

[2016-10-12 16:49] wellsie commented on #84
@guiocavalcanti could you put together a simple repro scenario ?

[2016-10-14 12:46] guiocavalcanti commented on #84
Hey @wellsie thanks for your help. I couldn't debug this because the autoscaling policies were applied and the new nodes doesn't have the problem. I'm closing this for now.

[2016-10-14 12:46] #84 closed

[2016-10-14 12:48] owenmorgan commented on #84
hi @guiocavalcanti could you share you autoscaling policy please?

[2016-10-14 13:15] guiocavalcanti commented on #84
Sure @owenmorgan, [here](https://www.dropbox.com/s/mj519tthozdlgtb/Screenshot%202016-10-14%2009.42.18.png?dl=0)

btw, I'm testing a different approach for auto scaling in AWS
- disabling these scaling policies
- using k8s contrib's [cluster-autoscaler](https://github.com/kubernetes/contrib/tree/master/cluster-autoscaler)
- enabling k8s horizontal pod autoscaling

This way:
- every time there are u

[2016-10-14 14:42] TimoDJatomika commented on #48
same here

[2016-10-14 16:47] nkhine commented on #61
thanks

[2016-10-14 17:02] nkhine opened #87 "use a different cidr ip range"
I tried to use the alternate IP by uncommenting https://github.com/kz8s/tack/blob/master/Makefile#L38-L42 but it seems there are some hard coded https://github.com/kz8s/tack/blob/effca18db0868b24fc30f017af077c3dbbbb2cae/modules/vpc/public.tf#L17 to 10.0

what is the correct way to use a different cidr ip block range?

[2016-10-14 19:52] owenmorgan commented on #84
Thanks @guiocavalcanti

[2016-10-14 23:15] yagonobre commented on #87
Uncommenting this lines, you change the cidr ip block used by kubernetes. You need to change K8S_SERVICE_IP and K8S_DNS_IP for the CIDR_SERVICE_CLUSTER range.
This [`file`](https://github.com/kz8s/tack/blob/effca18db0868b24fc30f017af077c3dbbbb2cae/modules/vpc/public.tf#L17) refer to [vpc cidr](https://github.com/kz8s/tack/blob/master/Makefile#L32), and I think it is hard coded.

[2016-10-14 23:56] yagosantos commented on #87
I'm fixing it, I Will submit a pr later.

[2016-10-15 03:27] yagonobre commented on #87
I'm fixing it

[2016-10-17 03:09] noqcks opened #88 "backing up state to s3"
Im quite new to terraform. Is it possible to modify tack to backup tf state to s3?

[2016-10-17 03:15] yagonobre commented on #88
Yes, it's possible. You can modify the Makefile to do it. Check the part of code that upload the keypair to s3 and you Will know how upload the tf state to s3.

[2016-10-17 14:51] #88 closed

[2016-10-17 21:35] idris commented on #45
@guiocavalcanti did you ever get this resolved?  I'm currently getting the `InvalidRouteTableID.NotFound` no matter what I do, even during `terraform destroy`

[2016-10-17 21:58] yagonobre commented on #45
@idris you can see the route table in aws console?

[2016-10-17 23:42] idris commented on #45
@yagonobre no, the route is gone.  I just want to `terraform destroy`, but this blocks it

[2016-10-17 23:59] yagonobre commented on #45
run `grep aws_route terraform.tfstate`

[2016-10-18 02:12] idris commented on #45
@yagonobre

[code]

[2016-10-18 04:09] yagonobre commented on #45
Try `terraform refresh && terraform destroy`

[2016-10-18 04:38] chrrrles opened #89 "Hanging on "Curling apiserver external elb....""
Running into an interesting issue using this module where it seems to hang when curling the elb for the external apiserver.  This step never returns (even after waiting 10 minutes):

I get this warning when I log into an apiserver:

Investigating further with `systemctl --failed`:

Output from `systemctl status get-ssl.service`:

Are there any leads I may follow to solve this problem?

[2016-10-18 05:45] chrrrles commented on #89
WOOPS.  An aggressive search-and-replace on my part had mangled the URL to s3-get-preseigned-url binary.  Issue due to operator incompetence, closing... :)

[2016-10-18 05:45] #89 closed

[2016-10-18 07:59] nkhine commented on #61
@wellsie
i have pulled the latest master and installed a new cluster, i am able to login to the bastion machine but not able to login to any of the other machines.
in the logs i get these:

[code]

[2016-10-18 23:02] wellsie commented on #87
thx @yagonobre - merged

[2016-10-18 23:02] #87 closed

[2016-10-19 01:21] wellsie commented on #61
does `make ssh` work ?

[2016-10-19 07:51] nkhine commented on #61
yes it works

[code]

[2016-10-19 07:53] nkhine commented on #61
but what about the warnings i get in the logs?

[2016-10-19 17:27] wellsie opened #92 "add support for 'us-east-2'"

[2016-10-20 19:02] adambom commented on #47
@wellsie Did you find the reason? I'm seeing this in my logs as well.

[2016-10-21 09:09] nkhine commented on #75
would this procedure work: https://github.com/coreos/coreos-baremetal/blob/master/Documentation/bootkube-upgrades.md ?

[2016-10-21 14:43] calvn opened #94 "`make all` to update terraform/infrastructure"
Currently I use `make all` to update changes on the infrastructure (e.g. worker IAM role). This works well since the `apply` is part of `all`. However, the command fails towards the end because it attempts to [run creation of addons](https://github.com/kz8s/tack/blob/f82e27497857e05032c9aee903650d36e6682a28/Makefile#L60) even though those already exist . The makefile should be updated to handle su

[2016-10-21 20:35] wellsie commented on #94
you can use `make apply` after a `make all` to just apply terraform changes

[2016-10-21 20:35] #94 closed

[2016-10-23 18:09] jaigouk commented on #61
for me, it was secruity group. https://forums.aws.amazon.com/thread.jspa?threadID=66813.
I specified the source address or 0.0.0.0/0 to be able to connect to this instance from anywhere. I missed it.

[2016-10-24 16:47] adambom opened #96 "Log rotation"
Some of my log files are getting quite big. We should probably bootstrap nodes with a [logrotate configuration](https://sandro-keil.de/blog/2015/03/11/logrotate-for-docker-container/) like this:

[code]

[2016-10-24 16:59] adambom commented on #96
Alternatively, we could launch the docker daemon with the `--log-opt max-size=<max size>` option.

[2016-10-24 17:39] #96 closed

[2016-10-24 17:58] wellsie commented on #61
@nkhine - are you still seeing this ? I cannot repro.

[2016-10-24 19:22] adambom opened #99 "Autoscaling Policy"
When load is high, the worker group should scale up. When load is low it should scale down. I've written some configuration that uses cloudwatch alarms to trigger autoscaling policies based on Average CPU Utilization and Memory Utilization.
- Average CPU Utilization > 80% => Add node
- Average Memory Utilization > 80% => Add node
- Average CPU Utilization < 40% => Remove node
- Average Memory Util

[2016-10-24 19:35] rimusz commented on #99
yes, please

[2016-10-24 19:46] #11 closed

[2016-10-24 19:47] #17 closed

[2016-10-24 19:52] guiocavalcanti opened #100 "Current stable CoreOS version may cause wrong CPU metrics in HPA"
There's a bug in Systemd (>=226, w/ docker configured to use the systemd cgroup driver, and a docker version before 1.12) which causes wrong CPU metrics in cAdvisor and Heapster.

These problems are reported [here](https://github.com/kubernetes/kubernetes/issues/30939) and [here](https://github.com/coreos/bugs/issues/1435#issue-163484274).

As far as I can tell, [the bug is fixed in beta channel](

[2016-10-25 12:05] nkhine commented on #61
@wellsie yes, i just installed a new cluster based on the latest code and am still seeing these:

[code]

10.8.0.54:21975 does not exist on my cluster

[2016-10-25 16:18] yagonobre opened #102 "IAM"
@wellsie you plan to add IAM to tack?

[2016-10-25 20:34] idris commented on #45
FYI my issue was fixed here: https://github.com/hashicorp/terraform/pull/9431

[2016-10-26 16:13] rimusz commented on #75
@wellsie any update on the kubernetes automated update? it is fine to do those ^^^ commands manually if you have a small cluster, but with the big would be a headache :)

[2016-10-26 16:56] rimusz commented on #75
ok, have checked out to update `/etc/systemd/system/kubelet.service` with the never k8s version, the change does not survive the reboot. :(

[2016-10-27 16:37] wellsie commented on #102
I'm not sure what the ask is...

[2016-10-28 20:57] adambom commented on #102
I was just about to create an issue regarding authentication, which @yagonobre may be trying to get at. My goal would be to set up as system by which we could tie IAM accounts to user accounts in Kubernetes. I'll go ahead and create that ticket and link to it here.

[2016-10-28 21:58] adambom opened #106 "IAM-based Authentication for Kubernetes API"
# The Problem

We have a team of engineers responsible for maintaining our infrastructure, and these engineers will need access to our Kubernetes clusters. Right now I've been the only one accessing it, and if anyone else ever needs to access the cluster we either need to share the client certificates or generate new ones. As we scale the team, this approach isn't going to work.

In a dream world,

[2016-10-28 21:58] adambom commented on #102
Tagging #106

[2016-10-28 22:01] adambom commented on #106
@hughyoh @moore

[2016-10-29 02:48] yagonobre commented on #106
Hi,
its look nice.
I was thinking to use OpenID Connect with dex and freeipa in my enviroment, what you think about?

cc: @guiocavalcanti

[2016-10-29 17:18] adambom commented on #106
@yagonobre I think that looks interesting as well. I like that dex is capable of using one of their pluggable connectors. For example, we could benefit from tying in to our LDAP system.

The downside is that there isn't a great way of hooking in to IAM, as far as I know, but maybe that shouldn't be considered a hard requirement.

I could see a scenario where Tack ships with dex, backed by a "local

[2016-10-30 12:50] yagonobre commented on #106
I plan to use RBAC for IAM. But the webhook aprouch looks interesting. Maybe we can do 2 webhooks, one for authentication and another for authorization. I can help you, what you think we write it in go?

For reference: https://www.youtube.com/watch?v=i75ysFcvCkk&list=PLlh6TqkU8kg_3FpXLlHMnoVqKZysIzXlK&index=32

[2016-10-31 20:31] adambom commented on #106
@yagonobre Thanks for sharing that video. Very informative. I'm growing more convinced that Dex seems like a good approach. Could you share a bit more about what your plans are RE: dex and freeipa?

[2016-11-01 16:02] yagonobre commented on #106
I'm plaining to use freeipa as ldap provide, and bind groups in freeipa with my clusters.

[2016-11-03 20:41] #102 closed

[2016-11-04 20:18] yagonobre commented on #75
@rimusz, It is because tack use user-data, that run every time that the machine power up.
You can stop the instance and edit the version on user-data and then start the instance.

I replace user-data with cloud init in my environment, if everything work fine i will submit a PR.

[2016-11-04 22:03] yagonobre commented on #75
You can use this procedure

# Update worker nodes
1. Create a new launch configuration, you can clone the existing LC and edit the kubernetes version on user-data (have 2 Occurrence).
2. Terminate all instances and create anothers with the new LC **(Be sure that you no have persistentes volumes, e.g. databases, and that your pods are replicated)**
   1. Detach Instance by In from the ASG, mark the

[2016-11-07 11:38] rimusz commented on #75
@yagonobre thanks for your solution. it looks good, but has way to many manual fiddling, specially with the `user-data` for each instance, way too much hassle for production clusters.
I found using global `fleet` units for k8s services is much better way to make k8s upgrades.

[2016-11-08 11:32] fuyufjh opened #108 "Unify tags' name KubernetesCluster and Cluster"
I found a little problem when I created Resource Group for many k8s cluster in AWS. Most resources have tag `KubernetesCluster:cluster-name`, while Route53, S3 and Security Group have tag `Cluster:cluster-name`.

Could we unify these things, saying, all resources tagged with `KubernetesCluster:cluster-name`?

Willing to send PR fixing this :)

[2016-11-08 15:51] wellsie commented on #108
Yes, please send pr

[2016-11-09 19:48] #108 closed

[2016-11-11 23:38] yagonobre opened #110 "Get Cloud-config from s3"
# The Problem

Update k8s version need stop all machine and update the user-data

# The Proposal

Use a shell script, as user-data, that get cloud-config file from s3 and run it.

In test I get the ssl in this shell script, not using systemd services and the time for launching a new instance decreased significantly.

Example of Cloud-config template:
[code]

@wellsie Could we use this approach?

[2016-11-12 11:41] rimusz commented on #110
I was thinking maybe to keep k8s master/nodes manifest files in S3, pull them in when VM starts.
That should allow an easy k8s version update, push new manifest files to S3, reboot VM one by one :)

[2016-11-12 15:38] yagonobre commented on #110
@rimusz Is exactly this that i want to do. It as working in my cluster now.

[2016-11-12 15:49] rimusz commented on #110
@yagonobre would you mind to share the code? as that k8s upgrade story is so needed for prod clusters

[2016-11-12 16:12] yagonobre commented on #110
Yes. I plan to share it next week.

I'm working on automate the update process

[2016-11-12 16:20] rimusz commented on #110
cool, ping me if you need any testing.

[2016-11-13 17:38] od0 opened #111 "etcd nodes failing health check"
![image](https://cloud.githubusercontent.com/assets/2206712/20247586/b73f11c8-a984-11e6-91f1-dfe573004f59.png)

This prevents the setup from completing (hangs on `Curling apiserver external elb`)

[2016-11-13 17:42] yagonobre commented on #111
The instances need some time to get in service

[2016-11-13 17:56] od0 commented on #111
@yagonobre thanks - gave it a long time (30+ minutes). The instances are live and can be ssh'd into. Looks like the kubelet may be failing to start

This may be a terraform issue. I had upgraded to the latest (0.7.10) before creating a new cluster. When I rolled back to 0.7.7, everything ran successfully.

[2016-11-14 06:58] lachie83 commented on #111
I was having the same issue. My guess is that 0.7.10 is truncating the cloud-config. Seeing this on the etcd instances

[code]

[2016-11-14 07:00] lachie83 commented on #111
Confirmed the issue is resolved when reverting to terraform 0.7.7

[2016-11-17 03:56] seanknox commented on #100
Fair warning, it's a fairly involved process. For each node type (workers, masters/etcd), the steps roughly are:
1. Bring up additional infrastructure with the new CoreOS version
2. New infrastructure joins the cluster
3. Drain connections to the old infrastructure
4. Confirm old infrastructure is idle and retire

E.g. for workers,
- copy ASG/launch configuration of existing workers, change the am

[2016-11-17 16:31] jasisk opened #112 "Bastion etcd config - old s3 downloader + no CA."
Hi there,

Happy to open a PR but just wanted to validate the problem first. Seems the bastion cannot connect to the etcd2 cluster because it's missing the CA. This keeps it from being able to issue the lock in order to update itself.

Additionally, it appears to still have to old s3 downloader script (as opposed to the go binary).

[2016-11-17 16:34] wellsie commented on #112
hi @jasisk - yeah the bastion has been neglected. It just needs to be brought up to par with the master/worker nodes.

[2016-11-17 16:45] jasisk commented on #112
Perfect. Just the validation I need. :grinning:

I'll take a crack at fixing. Leaving this open until then.

[2016-11-17 16:45] wellsie commented on #112
awesome - ty

[2016-11-18 21:55] tylux commented on #111
Is this fixed in Terraform 0.7.11?

[2016-11-19 00:04] od0 commented on #111
@tylux haven't tried yet - afraid to touch anything ;)

[2016-11-19 00:24] od0 commented on #111
@tylux tried a fresh install, same issue

[2016-11-22 14:25] jasisk opened #115 "Add a warning to readme about terraform v0.7.10-0.7.11"
Just wanted to point out that terraform v0.7.10 and v0.7.11 seem to have a regression resulting in the cloud-config templates not rendering. Figured I'd point it out before you start getting related issues filed.

Someone has already [file an issue upstream](https://github.com/hashicorp/terraform/issues/10209).

[2016-11-22 14:33] unguiculus commented on #115
PR #114, which I just created today, fixes the issue using data sources instead of template_file resources which are deprecated anyways.

[2016-11-22 14:55] jasisk commented on #115
Ack. My search terms weren't very good, it seems. :) closing in favor of #111, #114.

[2016-11-22 14:55] #115 closed

[2016-11-30 05:53] blockloop commented on #111
Still having the issue on TF 0.7.13

[2016-12-09 09:28] hingstarne opened #121 "Migrate certificate handling to terraform?"
Terraform itself can do the certificate handling, with the tls provider.
Are there any plans to migrate from cfssl and make to terraform tls provider based approach?
Would a pr regarding this be welcomed?

[2016-12-09 15:11] wellsie commented on #121
Absolutely

[2016-12-21 04:00] JayBee6 opened #122 "Make all fails with below error, while trying to create a cluster using existing vpc."
terraform get
Get: file:///Users/jrajagopal/Documents/repos/kubernetesconfig/modules/s3
Get: file:///Users/jrajagopal/Documents/repos/kubernetesconfig/modules/vpc-existing
Get: file:///Users/jrajagopal/Documents/repos/kubernetesconfig/modules/security
Get: file:///Users/jrajagopal/Documents/repos/kubernetesconfig/modules/iam
Get: file:///Users/jrajagopal/Documents/repos/kubernetesconfig/modules/ro

[2016-12-21 05:27] JayBee6 commented on #122
was able to solve this issue by installing older version of terraform 0.7.13.  This is because of the breaking changes in terraform 0.8. the below command given in readme is installing the latest 0.8.1 which is not compatible with the variables in this version.
brew update && brew install awscli cfssl jq kubernetes-cli terraform

[2016-12-21 17:56] #111 closed

[2016-12-27 10:35] vasil-moneybird opened #124 "Kibana and logging across namespaces"
Hey,

Is there any way to use the current Kibana & Elasticsearch setup for logging across multiple namespaces?

The way I have it working right now is with an extra fluentd daemon set in the default namespace, but maybe there is a better solution.

Thanks :)

[2016-12-28 00:33] wellsie commented on #124
hi @vasil-moneybird - what are you looking to log ? docker logs ?

[2016-12-28 09:53] ghost commented on #124
Yep

[2016-12-29 04:46] erd0s opened #126 "etcd instances all in same AZ?"
Is there a reason that all the etcd instances are started in the same AZ? If this is a bug I'd be happy to raise a PR, I guess we'd just need something like `availability_zone = "${ element( split(",", var.azs), count.index ) }"` in [modules/etcd/ec2.tf](https://github.com/kz8s/tack/blob/master/modules/etcd/ec2.tf) right?

[2016-12-29 04:50] erd0s commented on #126
Oh sorry @wellsie I just noticed #21, did you end up doing any more research into this?

[2016-12-29 15:23] grncdr commented on #112
@jasisk did you have a chance to look into this? I'm noticing the same issue on a fresh cluster.

[2016-12-29 15:26] grncdr commented on #112
For the benefit of others doing Google searches, my logs on the bastion host look like this:

[code]

[2016-12-29 15:39] jasisk commented on #112
I did. Fixed it locally. Let me clean up what I have and rebase it.

[2016-12-29 16:18] wellsie commented on #126
No worries @erd0s :)

I'm not inclined to run etcd masters across AZs based on what I've read. I'm not so concerned about worker nodes across AZs though. Ultimately federating single az clusters is the way to go for HA

[2016-12-29 17:31] grncdr commented on #112
@jasisk I ended up fixing it myself as well (see PR above). It was a good opportunity for me to learn more about how the different parts of `tack` work together.

[2016-12-29 22:13] erd0s commented on #126
Ah ok @wellsie, thanks for the input!

[2016-12-29 22:14] #126 closed

[2016-12-30 00:27] wellsie commented on #122
thanks @JayBee6

this is fixed now

`brew update && brew install awscli cfssl jq kubernetes-cli terraform` should work

[2016-12-30 00:27] #122 closed

[2016-12-30 07:50] Bekt opened #128 "Use host-gw as flannel backend?"
The `host-gw` backend for flannel is supposedly a lot more performant compared to `vxlan`. [0]

I was just wondering if you had considered or tested this option before. `aws-vpc` is a good option to have as well but it requires an extra set up and comes with a big limitation.

[0] [Comparison of Networking Solutions for Kubernetes](http://machinezone.github.io/research/networking-solutions-for-kub

[2016-12-30 14:01] grncdr commented on #121
Hey, I don't know if this is still something you're interested in, but I've implemented a first version of it in https://github.com/talon-one/tack/commit/c9cdec43a9fbdc3ddce8f6658fae9ee392dbd773.

I simply generate all the private keys internally, but it would probably be better to accept private keys as top-level variables. If the approach doesn't look too bad, I will continue with removing `cfss

[2017-01-06 19:50] alertedsnake commented on #121
@grncdr I looked at this briefly - there are two issues with doing this via passing the certs into the instance userdata - one, that that data is then available to anyone who can view it in the EC2 console or get access to the machine (metadata-service), and two, there is an upper limit of the size of the instance userdata.  I went down this path and hit the limit, and then realized the security i

[2017-01-11 03:43] blockloop opened #129 "Missing CPU/Memory usage graphs in dashboard"
I just switched to tack from kube-aws and I noticed that the dashboard does not have the CPU and Memory usage graphs as seen here

![image](https://cloud.githubusercontent.com/assets/3022496/21834738/50bb6b78-d77d-11e6-8d13-fd59fab6c2f9.png)

The [kubernetes blog says](http://blog.kubernetes.io/2016/10/Production-Kubernetes-Dashboard-UI-1.4-improvements_3.html) that this feature was added in k8s v

[2017-01-11 07:30] owenmorgan commented on #129
You'll need to deploy heapster into your cluster

[2017-01-11 14:46] blockloop commented on #129
Ah. Thanks. What do you think about including this in tack?

[2017-01-11 14:55] blockloop commented on #129
If anybody else lands here via search here is the configuration I used to get heapster working.

[code]

[2017-01-14 03:10] rokka-n commented on #27
Did it work for nodes in private networks?

[2017-01-14 03:13] rokka-n commented on #75
Why is it not possible to replace etcd node and let it re-sync with the cluster?

[2017-01-16 07:52] andycmaj commented on #59
hi @wellsie!
Is this related to the error i see when i call `make clean`?

[code]

[2017-01-16 15:37] yagonobre commented on #75
@rokka-n I do it

[2017-01-17 20:01] yagonobre opened #130 "ifconfig.co down"
Make all fail because `ifconfig.co`is down

[2017-01-17 22:30] #130 closed

[2017-01-19 12:43] cemo opened #132 "Usage instructions"
What are the exact steps to create a cluster in aws? I mean which variables I should change to run a cluster? I could not be sure that about this. Should I change io.tf file? Because I have seen some variables on makefile too. What is the proper way to bootstrap a cluster?

[2017-01-19 13:57] owenmorgan commented on #132
at a minimum, you can clone this repo and run

`make all `
this will use default variables. you can over ride them in the root Makefile like this.

`make AWS_REGION=eu-west-1 CLUSTER_NAME=my-k8s-cluster all`

[2017-01-19 14:31] cemo commented on #132
What about the variables such as `account-id`, `azs`?  I can see some variables empty. What should I do for them?

[2017-01-19 14:40] owenmorgan commented on #132
ignore everything outside of the Makefile. That will take care of the other variables.

[2017-01-19 14:40] cemo commented on #132
I have just seen necessary configurations. Thanks.

[2017-01-19 14:40] #132 closed

[2017-01-19 15:18] cemo opened #133 "make all errors"
I have some errors when running make all. Do you have any idea? Using latest version of the libraries on mac.

[code]

[2017-01-19 15:28] yagonobre commented on #133
This pr #131 solve this

[2017-01-19 15:45] cemo commented on #133
Unfortunately `dig +short myip.opendns.com @resolver1.opendns.com` returns empty. This is related to my country.

[2017-01-19 16:23] wellsie commented on #133
@cemo can you try:
`curl --silent http://whatismyip.akamai.com/`

[2017-01-19 18:44] cemo commented on #133
@wellsie I confirm that this is working. However I am at home now. It might be better to check at work tomorrow.

[2017-01-20 10:30] cemo commented on #133
@wellsie `curl --silent http://whatismyip.akamai.com/` is working at work too.

[2017-01-20 15:37] #133 closed

[2017-01-24 16:39] cemo opened #134 "Deploying to cluster by CI"
What I am trying to do is deploying some resources to our cluster via CircleCI. Is there a way to do without sharing our certificates? The documentation is pretty sparse and finding myself lost in google and github searches. There is some useful parts in the codes about this is not useful for a CI environment.

[2017-01-24 17:11] yagonobre commented on #134
I'm using Dex for auth and RBAC for authorization.
https://kubernetes.io/docs/admin/authentication/

[2017-01-24 20:11] cemo commented on #134
@yagonobre would you outline for me necessary steps to prepare such a setup please? I desperately need.

[2017-01-24 21:40] yagonobre commented on #134
yes, i will do it in weekend

[2017-02-03 14:45] fearphage commented on #75
Are you open to incorporating automated Kubernetes upgrades? If not is the purpose of this project a one-time setup and then you don't need this project anymore?

[2017-02-03 14:53] wellsie commented on #75
Yes open to automated upgrades 👍
On Fri, Feb 3, 2017 at 6:45 AM Phred <notifications@github.com> wrote:

[2017-02-03 14:55] fearphage commented on #75
Excellent! However without automated upgrades, is this intended to be a single-use project?

[2017-02-06 17:06] fearphage opened #135 "Is this project still actively maintained?"
I'm just curious if this is still in active development.

Is there anywhere to talk to devs/maintainers? I tried gitter, but I posted the previous message was from November 2016.

[2017-02-09 19:57] yagonobre commented on #135
Yes, it is active

If u want to talk with me nobre.yago@gmail.com

[2017-03-03 03:20] ant-caichu commented on #47
Does this problem has any conclusion? I use k8s 1.4+ and i also got this problem.

[2017-03-03 09:10] neith00 commented on #18
I also face the same issue:
dmesg | grep -i "SELinux: mount invalid" |wc -l
538

I0303 09:09:50.523138 11271 update_engine_client.cc:237] Querying Update Engine status...
LAST_CHECKED_TIME=1487863023
PROGRESS=0.000000
CURRENT_OP=UPDATE_STATUS_UPDATED_NEED_REBOOT
NEW_VERSION=1235.12.0
NEW_SIZE=264591106

Docker version 1.12.6, build d5236f0

[2017-03-08 09:30] mcameron opened #136 "Howto: run multiple clusters."
I'm looking for confirmation that tack can be used to run multiple clusters in one AWS account, in such a way that one cluster can be cleaned, leaving the other cluster untouched.

This does require an amount of terraform state file handling and I plan to use terragrunt for that.  Happy to provide a PR, if that's of use.

Mainly I want to be confident that a make clean is safe and that nothing is

[2017-03-08 16:13] mcameron commented on #136
I probably should also mention that I'm a big fan, and have had better results with Tack than I've had with Kops or Kube-aws so far, so thank you.

[2017-03-08 21:27] yagonobre commented on #136
I run multiple clusters in one AWS account, using tack but I modified tack for storage terraform state in s3. I think that terragrunt can work fine.

[2017-03-09 01:51] lexhung commented on #136
Hi all,

I created a modified version of tack where we can easily create multiple clusters.

It is same with normal tack except you have to provide a cluster config before running `make`.

E.g. `ENV=prod make all` or (`make all ENV=test`)

Generated files of each cluster will be put under a sub folder of ./build

E.g. `build/name.toplevel.domain`

I can send a pull request if we find it useful.

-

[2017-03-14 14:01] mcameron commented on #136
Thanks for the links @lexhung.

@lexhung the diff here is quite big: https://github.com/kz8s/tack/compare/master...lexhung:master

Are all those changes required for running multiple clusters in one account, or is it just 8a83ab93398e99eab214151dbdc5798edf60e64d and 3b9a34f4587f1e1630e4dde4e0b278dd157d3fe2?

[2017-03-14 14:09] cemo commented on #136
For what it's worth, Terraform will provide `environments` in 0.9. This is still in beta and in 2 months I expect a release.

[2017-03-14 14:13] owenmorgan commented on #136
@cemo do you have documentation on environments?

[2017-03-14 14:18] cemo commented on #136
@owenmorgan check this PR and related files:

https://github.com/hashicorp/terraform/pull/12366/files

[2017-03-14 15:38] lexhung commented on #136
@mcameron In order to enable multi-cluster, the changes here are:
* putting the paths into variables (so I can better track/switch the filepaths of each cluster)
* using a single source of terraform output (see `.tfstate` task in `makefiles/terraform.mk`) so we don't have to run `terraform output` everytime we need those values.
* plug directory variables into terraform config ("build-dir", "dir-t

[2017-03-16 11:01] cemo commented on #136
@owenmorgan Terraform 0.9 is released.

[2017-03-16 22:38] owenmorgan commented on #136
Thanks

[2017-03-23 19:01] nkhine commented on #135
hi, any updates on this project, specifically the merge of https://github.com/kz8s/tack/pull/127

[2017-03-24 15:32] yagonobre commented on #135
@wellsie

[2017-03-28 23:43] cemo opened #137 "having issue with api server"
I am making some experiments and have some troubles. I have changed some configurations of api server to enable `cron` resources. I checked `docker ps` and containers are appearing in the list with new process ids. I checked `get nodes` as well and seems normal.

[code]

But when I check endpoints I can only see a single endpoint. This seems problematic for me because I am using default configurat

[2017-03-29 02:58] yagonobre commented on #137
1. Probably this the k8s version
2. This [script](https://github.com/kz8s/tack/blob/master/scripts/init-addons) update the templates in `manifests/addons`move this to `.addons` and run `	kubectl create -f .addons/`

[2017-03-29 07:53] cemo commented on #137
1. You mean I am using an buggy version which is causing this error? I am using 1.5.1 right now might be better to upgrade latest 1.5.x?
2. I could not see relevant part in there? There is no add-on about it. What am I referring is this:
[code]
Thanks for your help

[2017-03-29 12:25] cemo opened #138 "Modifying manifests"
I have an interesting case where my modified api servers manifests are reverted somehow. I wanted to enabled batch api for enabling cronjobs of kubernetes but had some issues.

1. What is the cause of this revert?
2. What is the correct way to modify them?

[2017-03-29 14:37] yagonobre commented on #138
1. Because cloud-init in coreos run every time that the machine complete the boot
2. Modify user-dat in etcd instances, you need to stop the instance, and create a new launch configuration to auto scaling.

[2017-03-29 15:07] cemo commented on #138
I have a production setup. Can I do this operation in a safe manner? :)

[2017-03-29 15:14] cemo commented on #138
[code]

displays only 1 instance. Can I do in this way? What do you think?

[2017-03-30 10:28] cemo commented on #138
https://github.com/kz8s/tack/issues/75#issuecomment-258558846

[2017-03-30 11:41] yagonobre commented on #138
Yes, you can use this procedure. But the step one is outdated, tack no more storage manifests on s3, you will need to edit the user-data for worker nodes.

[2017-03-30 11:44] yagonobre commented on #138
[code]

I think that it cant work, because you need to stop the instance to modify user-data

[2017-03-30 14:12] cemo commented on #138
when you change user data, terraform destroys and recreates instance. Do you think that it is doable in this way?

[2017-03-30 14:17] yagonobre commented on #138
Yes, but you need to do it instance by instance in masters, or you will get etcd unhealthy

[2017-03-30 14:52] cemo commented on #138
Actually that is why I wrote `etcd[0]` because I was considering to do one by one.

[2017-03-30 17:31] yagonobre commented on #138
Nice, I think that it work

[2017-03-30 19:20] cemo commented on #138
I will also upgrade cluster as well. The order is matters? I mean masters first than I should update workers?

[2017-04-04 20:54] yagonobre commented on #138
the order is not matters

[2017-04-17 08:03] lolotp opened #139 "Upgrade to v1.6.1"
I tried to use tack to spin up a new cluster with version 1.6.1 image by modifying HYPERKUBE_TAG in Makefile to v1.6.1_coreos.0 . The diff is as followed:
[code]

When I run ```make all```, the cluster was spun up successfully but it's stuck at curling apiserver external elb
[code]

Does anyone know how we can resolve this ?

[2017-04-17 15:48] rimusz commented on #139
it will not work for you, you also need to update https://github.com/kz8s/tack/blob/master/modules/etcd/cloud-config.yml to etcd v3, and you might need to tweak some API flags as well.

[2017-04-18 03:51] lolotp commented on #139
@rimusz Thanks for the information. I'll try to update the etcd servers.

[2017-04-19 18:29] wellsie opened #141 "Terraform: [DEPRECATED] Use `role` instead. Only a single role can be passed to an IAM Instance Profile"

[2017-04-19 19:46] #141 closed

[2017-04-19 22:24] #139 closed

[2017-04-19 22:51] wellsie commented on #129
fixed on master

[2017-04-19 22:51] #129 closed

[2017-04-19 22:52] wellsie commented on #128
I did briefly try aws-vpc but couldn't get it to work at the time. I will be taking another look at it soon

[2017-04-19 22:53] #33 closed

[2017-04-20 00:08] #59 closed

[2017-04-20 00:08] #48 closed

[2017-04-20 00:09] #45 closed

[2017-04-20 00:18] wellsie commented on #135
@yagonobre @fearphage

hi. sorry for the delayed response. yes definitely still active. updated a bunch of things today:

- terraform 0.93
- etcd3
- TLS for *all* etcd communications
- k8s 1.6.2
- private-to-cluster certificate authority within cluster
- dashboard 1.6.0
- fixed terraform warnings

@nkhine - sorry about #127; it won't work now that TLS certificate generation has been moved to insid

[2017-04-20 00:21] wellsie commented on #137
@cemo i'm seeing 3 endpoints with the latest drop on master.

[code]

[2017-04-20 05:08] Bekt commented on #128
I think it everything has to be on a single subnet for it to work. I actually couldn't get it to work with multiple subnets either.

[2017-04-20 06:40] cemo commented on #137
@wellsie there is an issue at my side and see for [details]. I will close this issue since your setup is working properly at k8s 1.6.x.

[details]: https://github.com/prometheus/prometheus/issues/2543

[2017-04-20 06:40] #137 closed

[2017-04-20 09:27] rimusz commented on #135
@wellsie hmm, I still see `etcd2.service` in bastion and worker cloud-configs

[2017-04-20 21:19] wellsie commented on #135
@rimusz - thanks for pointing out that cruft. etcdctl on bastion:

[code]

[2017-04-20 21:21] #27 closed

[2017-04-20 21:21] #47 closed

[2017-04-20 21:21] #53 closed

[2017-04-20 21:22] #61 closed

[2017-04-20 21:23] #100 closed

[2017-04-20 21:37] wellsie commented on #121
the tack cluster now includes a certificate authority for signing certificate requests from k8s nodes. private keys are now generated on each node.

[2017-04-20 21:37] #121 closed

[2017-04-20 21:38] wellsie commented on #112
no longer using s3 for shipping around certs

[2017-04-20 21:38] #112 closed

[2017-04-21 15:14] s0rc3r3r01 opened #145 "cfssl server should support rebooting"
Hello,
I've seen the changes that were recently done with the introduction of the PKI module.
This is a very good improvement.
However I was recently thinking, what will happen if the PKI server reboots or crashes ?
It will be restarted and it will create a new ca, store it in s3 and start signing certificates with this one  ? Is this really what we want ?
I think that the cloudinit should check i

[2017-04-21 15:15] wellsie commented on #145
yes we should definitely enable this as you outline above. pr most welcome

[2017-04-21 17:59] #135 closed

[2017-04-25 14:20] #124 closed

[2017-04-25 16:41] wellsie commented on #145
something like this should do the trick: bbc425194002059bb14e3e558ff058ce682ed53d

i'll merge to master if testing checks out

[2017-04-26 13:19] s0rc3r3r01 commented on #145
The issue with that, is that if you destroy the machine and recreate it, it will recreate the certs. I have another solution, that I still have to test completely, I've created a PR to review : #147  I still have to test it carefully...

[2017-04-27 14:48] wellsie commented on #18
https://github.com/coreos/bugs/issues/1580

[2017-04-28 14:00] wellsie opened #149 "bastion and pki ips sometimes conflict with etcd ips"
bastion and pki ips should be configurable

[2017-04-28 16:37] wellsie opened #150 "cluster-autoscaler: Unable to look up PVC info"
https://github.com/kubernetes/contrib/issues/2507

solution:
- update cluster-auoscaler to 0.5.2

[2017-04-28 16:44] #150 closed

[2017-04-28 16:45] wellsie commented on #99
added https://github.com/kubernetes/autoscaler

[2017-04-28 16:45] #99 closed

[2017-04-28 16:46] wellsie commented on #21
running *all* instances in single az now by default

[2017-04-28 16:46] #21 closed

[2017-04-28 17:20] wellsie opened #151 "kubectl delete daemonset hang"
[code]

== hang

https://github.com/kubernetes/kubernetes/issues/33245

[2017-04-28 19:21] wellsie opened #152 "use master elb hostname in apiserver certificates"

[2017-04-28 19:38] wellsie opened #153 "elb healthcheck causing apiserver errors"
switch to SSL:443 check

[2017-04-28 23:32] wellsie opened #154 "use configmap for kube-system addons"

[2017-04-29 00:11] #152 closed

[2017-04-29 00:11] #153 closed

[2017-04-29 00:11] #154 closed

[2017-04-29 16:33] wellsie opened #156 "move pki security group to module/security"

[2017-04-29 16:47] #156 closed

[2017-04-30 15:50] martinssipenko opened #159 "Calico/canal support"
Are there any plans on adding calico/canal support?

[2017-04-30 15:51] wellsie commented on #159
Yes. Looking into it this week.

[2017-05-02 13:12] cemo commented on #18
@wellsie is this issue causing issues persistent storages on k8s? I saw these errors on our cluster and have no idea to how to solve it.

[2017-05-02 13:34] wellsie commented on #18
These are upstream issues. No data loss afaict

[2017-05-02 13:37] cemo commented on #18
when I try to mount EBS with `persistentvolumeclaim`, volumes could not be mount. I see that volumes are stucked on AWS console. I thought this is related to this issue since some people are also stated problems about EBS mounting. Do you think that this can can cause issues about mounting?

[2017-05-02 13:38] wellsie commented on #18
Are you using the latest bits from master ?
On Tue, May 2, 2017 at 6:37 AM Cemalettin Koc <notifications@github.com>
wrote:

[2017-05-02 13:41] cemo commented on #18
No.

![image](https://cloud.githubusercontent.com/assets/44156/25620157/210fe882-2f56-11e7-8032-79dd0b1bfcbf.png)

[2017-05-02 21:20] cemo commented on #18
@wellsie my issue resolved when I used ebs `st1` instead of `gp2`. I am not sure what was the root cause but hope that it will help someone else too.

[2017-05-03 15:44] wellsie opened #161 "Flag --api-servers has been deprecated, Use --kubeconfig instead."
[code]

[2017-05-03 18:23] wellsie opened #162 "change out deprecated kubelet tags"
[code]

[2017-05-04 18:03] wellsie opened #163 "convert coreos-cloud-init to container-linux-config (ignition)"

[2017-05-05 17:01] lukeab opened #164 "using AWS organisations/delegate accounts"
When you setup an AWS consolidated billing, or what is now AWS Organisations, the aws tool uses an IAM user in the root account to assume a role in the subaccount. So you need to identify this int he ~/.aws/config file.
However terraform doesn't read the config, only credentials. So you have to tell terraforms aws provider to use the root account, but assume the role int he delegate account using

[2017-05-05 21:00] lukeab commented on #164
I've tested my branch and it works with an organisation account now.
I will still have to test it standalone account, and see if it handles normal operation.

[2017-05-06 14:08] wellsie opened #167 "create-admin-certificate script does not retry sniff probe"
https://github.com/kz8s/tack/blob/master/scripts/create-admin-certificate#L29

[2017-05-08 08:47] r0fls opened #168 "✗ create admin certificate - FAIL"
Running `make all` I get the below error. I changed the keyname in `terraform.tfvars` to a valid existing keypair in aws because I was receiving an error saying `kz8s-test` does not exist. Otherwise it's the fresh repo.

[code]

[2017-05-08 10:40] wellsie commented on #168
duplicate #167

fixed https://github.com/kz8s/tack/pull/169

[2017-05-08 10:40] #168 closed

[2017-05-08 10:40] #167 closed

[2017-05-08 10:41] #74 closed

[2017-05-09 10:53] nkhine opened #170 "get root ca certificate script retires forever"
Hello, I just tried to install a new cluster with the latest code of tack, everything goes smoothly until,

[code]
navigating to the S3 bucket, it is empty.

what am i missing?

[2017-05-09 12:07] wellsie commented on #170
The pki module creates a pki host which creates ca.pem and pushes it to s3. This step waits for ca.pem to become available, that can take a minute or two. I have found that changing the pki instance type to t2.micro speeds things up.

[2017-05-09 13:48] nkhine commented on #170
i have updated the pki instance to t2.micro but it does not seem to have
helped.

the pki host is created, but the bucket on S3, that the script is trying to
copy from has not been created!.

On 9 May 2017 at 13:07, Jono Wells <notifications@github.com> wrote:

--
%>>> "".join( [ {'*':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,*)&uzq^zqf" ] )

[2017-05-09 14:17] wellsie commented on #170
can you ssh into the pki host and run `systemctl status` and `journalctl -fl` to verify everything ran ok there ?

[2017-05-09 19:14] frodeanonsen commented on #170
I get the exact same behavior. I have waited for a few hours, but no avail. I do see some errors after `journalctl -fl` output:
[code]

[2017-05-10 08:48] frodeanonsen commented on #170
In my previous comment I ran `journalctl` on the wrong host. After running on the PKI host like you said @wellsie , I got the actual errors, and it also contained the answers to how to fix it. I've created a pull request for this issue. Hope this helps you as well @nkhine
Here is the actual log output from the PKI host:
[code]

[2017-05-10 09:38] nkhine commented on #170
@wellsie `systemctl status` has this output

[code]

and `journalctl -fl`:

[code]

[2017-05-10 11:01] lukeab opened #173 "No default storage provisioner"
When i setup my tack cluster in amazon, the first thing i wanted to do was run jenkins from a helm chart. The stable/jenkins chart requires a PV available for use with it's PVC.
I solved this by adding this `awsstandardstorageand.yaml` applying it to my setup:
[code]

[2017-05-11 12:07] gabrieladt opened #174 "Some points to use in production"
Hi. This is my first post on any repo, I don't know if I am doing right, sorry case not.
So I am using a fork of tack in my productions envs. I would like to share some import points for us that I found.

1 - Disable auto updates(coreos).
Today coreos and kubernetes are not synchronized this means the nodes are rebooted and you have errors (until the health checks fails and the pods are reallocate

[2017-05-11 15:41] cemo opened #176 "Ideas for tack"
Hi @wellsie and others,

I have some ideas about this repo and it would be nice to discuss them. The current way of the project is mostly one time shot. You can not upgrade easily your cluster. You can not run 2 cluster at the same time. My ultimate target is that instead of upgrading clusters, I want to create immutable clusters and nodes. In case an upgrade we can spin up a new one. There are al

[2017-05-11 16:25] bruj0 commented on #176
Im not @wellsie but im using tack  :)
I fail to understand what would be the use case for splitting Infrastructure and Kubernetes installation, since the infrastructure is created JUST for Kubernetes, you wont be sharing it with anything else.
Point 2 seems useful but i dont see it as an important issue right now, feel free to send patches tho :)

I think that the best tools are the one that do on

[2017-05-13 05:03] bruj0 opened #178 "Policy permissions doesnt allow for LoadBalancer creation"
This is a duplicate of #74 but i debugged the problem and found the solution.

The problem is when we create a Service with LoadBalancer:
[code]

We get this error:
[code]

CloudTrail says:
[code]
So i added this permissions to the kz8s-master-$clustername policy
[code]
This solves the problem:
[code]

Im sure this has to be done in Terraform at cretion time, i will try to dig that up.
Cheers!

[2017-05-17 13:13] tomfotherby commented on #178
@bruj0 - I'm a newcomer to `tack` and Kubernetes and was stuck with exactly the same issue and your solution fixed it for me. Many Thanks.

[2017-05-17 19:55] cemo commented on #176
Hi @bruj0,

This is not true. The current vpc layout can be used for other cluster or schedulers such as nomad or swarm as well. It is one of the recommended layout.

Current architecture of the `tack` is making upgrades almost impossible. Especially a major change like etcd2->etcd3 is making many things very difficult. Forking the project is another issue. Constantly we have to patch our projects

[2017-05-24 18:45] cemo opened #181 "worker's locksmith configuration"
[code]
Do you think that there is a mistake at [here] since `k8s-worker` is used as `etcd key`.
[here]: https://github.com/kz8s/tack/blob/master/modules/worker/cloud-config.yml#L9-L10

[2017-05-25 06:50] bruj0 commented on #178
Fixed by #180

[2017-05-25 06:50] #178 closed

[2017-05-26 18:25] cemo opened #183 "register-schedulable on master nodes"
I noticed that you removed `register-schedulable` on master nodes. Is this deliberate action? If it is so, what is the reason of removing it?

[2017-05-26 18:34] cemo commented on #183
I think this is related to tolerations api. I will check more. Thanks

[2017-05-26 18:34] #183 closed

[2017-06-03 02:40] bruj0 opened #185 "Statefulset the first pod is horphaned"
Hi, im trying to create a stateful set to host postgresql.
The pods are created but the first pod, ie pgset-0 doesnt show up as created:
[code]
 With error:
[code]

However pgset-0 is running:

[code]

Any idea what could be the problem?

[2017-06-05 15:07] bkosick opened #186 "ELB's? Clarification"
Hey Guys,

Sorry to be a bother, but could someone please clarify the subnet tagging part if this setup.   Basically, I checked out tack did a make all, was happy and am working on a service that *should* according to my research, setup an ELB automagically when running an AWS kubernetes cluster.

After some additional reading, I found this linked to from your README, but Im afraid that I dont qui

[2017-06-05 15:31] bruj0 commented on #186
You are hitting #178

[2017-06-05 15:57] bkosick commented on #186
Yup that fixed it!...   Thanks for the prompt response.

[2017-06-05 15:57] #186 closed

[2017-06-06 15:57] bkosick opened #187 "Availability Zones?"
Hey All,

Is there a way to control what availability zones are used when provisioning?   I'm using things like storage classes for persistent storage and I need to be able to predict/control the zone used.   If anyone has a better solution or tips, I'd like to here them...  Here's my storage class:

kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
  name: balanced
  annotations:

[2017-06-07 09:26] nkhine opened #188 "Trying to connect to cluster with kubectl, does not complete"
I have installed the latest tack and have on issue:

➜  ~ kubectl get po
Unable to connect to the server: dial tcp: lookup kz8s-apiserver-test-xxx.eu-west-2.elb.amazonaws.com on 127.0.1.1:53: no such host
➜  ~

so the last step, does not complete:

[code]

i am able to login to the pki-machine, bastion and etcd machines, on the pki machine, i have this error:

[code]

[code]

on the etcd, i have t

[2017-06-07 09:29] tomfotherby commented on #188
I'm a beginner. I had similar issues a few times when I started. Sometimes just waiting helped, e.g. wait 15 minutes for the cluster to "settle". Other times I had to `make clean` and then `make all` again. I would say 1 in 3 attempts succeeded. Once it does succeed it is stable (at least for the 2 weeks I've been trialing Kubernetes).

[2017-06-07 10:46] nkhine commented on #188
i have tried several times and is the same outcome.

the only difference in my setup is that i am using eu-west-2 and had to fix the get-ca cert in relation to https://github.com/kz8s/tack/issues/170 issue - will send the patch, but wanted to confirm it was all working, which is why this issue.

[code]

[2017-06-07 10:52] tomfotherby commented on #188
When I tried `eu-west-2` it failed because that region didn't have the `m3.large` instance types that tack uses.
Maybe try with the default tack region just to see if it works. then you will have some confidence that it can work in London region with some "fixes".

(I'm a real beginner, really my words are not something to trust)

[2017-06-07 12:55] nkhine opened #189 "error: group map"
I get this error when trying to do `kubectl get po` or `kubectl cluster-info`

[code]
i had made `make clean` and had re-installed the cluster several times - anything I am missing or need to do to clear this correctly?

[2017-06-07 18:37] bkosick opened #190 "Existing VPC Config Clarification"
I would like some clarification, on the existing VPC setup...  in the docs, it says that the etcd servers should be in the public subnet, but after quadrupal checking my config:

etcd-ips = "172.20.20.10,172.20.20.11,172.20.20.12"
public:  subnet-6dc85525: 172.20.20.0/24
private: subnet-e6c954ae: 172.20.21.0/24

Editing the Make file to match ETCD_IPS

I get.

Error applying plan:

3 error(s) occu

[2017-06-08 10:40] bkosick commented on #190
Never mind I figured it out, you need at minimum 2 (AWS subnets) and 2 in unassigned space

[2017-06-08 10:40] #190 closed

[2017-06-08 14:34] bkosick opened #191 "Tack = existing VPC with AD DNS turned on."
Hi All,

Is this the correct place to ask these sorts of questions?

I have an existing VPC that I'm trying to provision into.   it has the following options:

DNS resolution: yes
DNS hostnames: yes
DHCP options set: dopt-XXXXXXXX | AD DNS

Standing up a cluster works ok, provisioning works OK...   when I try to look at logs, I get errors because the host ip-XXX-XXX-XXX-XXX.CORP.local cant be reac

[2017-06-08 15:34] tomfotherby opened #192 "ElasticSearch statefulset broken after 1 hour"
I brought up a Kubernetes cluster with Tack in an existing VPC in us-east-1 and all was good until suddenly the first pod in the ElasticSearch `StatefulSet` was killed.

I confirmed from `CloudTrail` and the ASG `Activity History` that the autoscaler had removed a Worker which, by chance, had a ElasticSearch pod on it. I can see the 25G EBS volume that the `StatefulSet volumeClaimTemplates` had pr

[2017-06-08 18:10] cemo opened #193 "etcd v3"
How tack is configuring etcd to run with v3? Is this missing?

[2017-06-08 18:24] cemo commented on #193
It is coming from `etcd-member.service`

[2017-06-08 18:24] #193 closed

[2017-06-08 20:17] tomfotherby commented on #192
My cluster never recovered. There is some deadlock occurring related to EBS persistent volumes and the autoscaler. I ran out of time and energy investigating but had to press on so I did `make clean` and re-created the cluster after changing `addons/logging/elasticsearch-logging.yml` to include a `nodeSelector` to force it to be placed on a master node so the issue can't re-occur:

[code]

Feel fr

[2017-06-09 09:07] tomfotherby commented on #192
I'm not 100% sure but I think my problem is fixed in PR https://github.com/kubernetes/kubernetes/pull/46463 :

Which I found from the Kuberbetes v1.7.0-beta.1 [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#downloads-for-v170-beta1). So hopefully [coming 28/Jun/17](https://github.com/kubernetes/features/blob/master/release-1.7/release-1.7.md).

[2017-06-09 09:07] #192 closed

[2017-06-09 20:50] cemo commented on #192
There was some issues regarding etcd version as well. The current version 3.0.10 is problematic.

Would you add an entry to update your etcd version as well?

[code]

like this.

[2017-06-09 20:55] bruj0 commented on #192
I too have problems with stateful sets described at #185 but i think thats a Kubernetes problems, regarding the autoscaler i had problems with it too so i just disabled it entirely .
I dont think its ready for production yet.

[2017-06-19 07:45] bhavpreet opened #194 "Trying to create an ELB goes into pending state; UnauthorizedOperation"
While create an ELB `type: LoadBalancer` fails with
`Error creating load balancer (will retry): Failed to create load balancer for service default/redis: UnauthorizedOperation: You are not authorized to perform this operation.
                status code: 403, request id: 53365d0e-fe39-4924-9949-ccedda2c84c5`

[2017-06-19 09:03] bhavpreet commented on #194
Closing after I found the fix here : #178

[2017-06-19 09:03] #194 closed

[2017-06-22 14:12] nkhine commented on #189
need to update kubectl - https://github.com/kubernetes/kubernetes/issues/39494

[2017-06-22 14:12] #189 closed

[2017-06-25 07:39] nkhine opened #195 "workers are all in one availability zone"
setting up the latest tack cluster it seems the workers are all created in one availability zone!

![screenshot from 2017-06-25 08-37-55](https://user-images.githubusercontent.com/85080/27514407-a37e0e70-5981-11e7-9cfb-427f0f9227e3.png)

how do i spread these?

[2017-06-25 07:50] bruj0 commented on #195
Something like this:

[code]

More info: https://www.terraform.io/docs/providers/aws/d/availability_zones.html

[2017-06-25 08:12] cemo commented on #195
like this:

https://github.com/kz8s/tack/pull/182/files

[2017-06-25 09:00] nkhine commented on #195
nice one, thank you

On 25 June 2017 at 09:12, Cemalettin Koc <notifications@github.com> wrote:

--
%>>> "".join( [ {'*':'@','^':'.'}.get(c,None) or chr(97+(ord(c)-83)%26) for
c in ",adym,*)&uzq^zqf" ] )

[2017-06-26 10:24] tomfotherby opened #196 "Add a new etcd member to the cluster?"
We want to use the Kubernetes `CronJob` directive. It's in alpha so we wanted to change the kube-apiserver runtime-cofig to add:

    batch/v2alpha1=true

We updated `modules/etcd/cloud-config.yml` and what we should have done to have it applied is, stop each instance, update the `user-data` via the aws console and start each instance again, one-at-a-time. But unfortunatly, we mistakenly terminate

[2017-06-26 21:26] nkhine opened #197 "UnauthorizedOperation: You are not authorized to perform this operation"
I have setup a new k8s cluster and all works well, in that I can create pods, i have setup helm and installed mongo, cluster is working fine.

The issue I am having is that, when I try to create a service, i get
UnauthorizedOperation: You are not authorized to perform this operation

Here is the full error:

[code]

on `CloudTrail` there are errors, showing the user,

[code]

the policy is as foll

[2017-06-27 07:47] tomfotherby commented on #197
This PR will fix your issue: https://github.com/kz8s/tack/pull/184 , I'm not sure why it's not being merged because it's a critical fix.

[2017-06-27 08:40] nkhine commented on #197
@tomfotherby thanks this worked perfectly.

[2017-06-27 08:40] #197 closed

[2017-06-27 10:52] cemo commented on #196
Did you see something unusual in `journalctl` ?

[2017-06-27 13:40] tomfotherby commented on #196
Yes, there is something interesting:

In full:

[code]

I tried removing the data-dir with

    $ sudo rm -rf /var/lib/etcd/

and retrying. No luck

Since I don't know what I'm doing I tried other random things like:

    $ sudo systemctl start etcd2

and

    $ sudo systemctl start etcd-member

No luck.

[2017-07-02 20:24] nkhine opened #199 "kubernetes 1.7.0 - PersistentVolumeClaim is not bound: "es-persistent-storage-elasticsearch-logging-0""
i have tried to install v1.7.0 but get this
[code]

all the pods apart from `elasticsearch-logging-0` have started and in the dashboard, i have, `PersistentVolumeClaim is not bound: "es-persistent-storage-elasticsearch-logging-0" (repeated 6 times)`

[code]

is it an issue with my setup of the cluster or is there a change i have missed?

if i disable the `elasticsearch-logging` cluster installs, b

[2017-07-03 09:09] tomfotherby commented on #199
~~I noticed from your output there are 5 `fluentd` pods. In `Tack`, there are usually 6 instances, therefore I'm assuming 1 instance might have auto-scaled down. If the instance that scaled down was the one with elasticsearch on it you might have run into the same bug as me, described in issue https://github.com/kz8s/tack/issues/192 . Maybe disable auto-scaling and see if you get the same issue.~~

[2017-07-03 12:59] nkhine commented on #199
even if you disable elasticsearch-logging, you're not able to create `PersistentVolumeCounts`

[2017-07-03 13:13] tomfotherby commented on #199
I worked around this problem using the following commands  (warning, I'm a Kubernetes beginner so not sure if doing anything inappropriate):

First, clean up the broken elasticsearch pod:
[code]

Create a `storageclass.yaml` file:

[code]
(found from https://kubernetes.io/docs/concepts/storage/persistent-volumes/#storageclasses)

Create the storage class:

[code]

Change `addons/logging/elasticsea

[2017-07-03 14:49] tomfotherby commented on #196
I will close this. It's a bit niche. The correct thing next time I need to update some user-data is to do do it via the web-console and then just reboot the etcd member, not terminate it.

[2017-07-03 14:49] #196 closed

[2017-07-14 11:20] s0rc3r3r01 opened #200 "the configuration of the worker does not support etcdv3"
the current configuration of the workers in the cloud-config template includes the usage of the ETCD_PROXY that was dropped in etcd v3.
This impacts the creation of a v3 etcd cluster.

More info here : https://github.com/coreos/etcd/issues/4318

[2017-07-26 13:37] raditsp opened #201 "Using terragrunt"
Hi Guys,

I have questions regarding the terraform state handling, is it possible to combine it with terragrunt? Can someone enlighten me with some example?

Thank you

[2017-08-01 01:48] wellsie commented on #199
fixed https://github.com/kz8s/tack/pull/202

[2017-08-01 01:48] #199 closed

[2017-08-01 08:04] bensonz opened #203 "Can hyperkube run solely on rkt?"
I am just curious that can we run hyperkube solely (kubelet and etc) on rkt?
Since there is already a step for prefetch-rkt-hyperkube.service, which pulls a hyperkube image into rkr. Why is there also prefetch-docker-hyperkube.service step?
Why do we need the docker hyperkube image?

[2017-08-01 14:13] wellsie commented on #203
good question. kubernetes components like apiserver also use hyperkube:
https://github.com/kz8s/tack/blob/master/modules/etcd/cloud-config.yml#L236

[2017-08-01 14:13] #203 closed

[2017-08-30 13:45] aeftimia opened #207 "make all fails"
If I just clone the git repo and run make all, I get the following error. I may be new at this, but this at the very least should point to some incompleteness in the Readme file which would have pointed me to the resource needed to fill my knowledge gaps.

Error applying plan:

1 error(s) occurred:

* module.s3.aws_s3_bucket.pki: 1 error(s) occurred:

* aws_s3_bucket.pki: Error creating S3 bucket:

[2017-08-30 13:47] yagonobre commented on #207
is it the first time that you run `make all`? If not run `make clean` and `make all` or change the cluster name.

[2017-08-30 14:09] aeftimia commented on #207
I tried make clean and make all and got the same error. Then I tried export CLUSTER_NAME=k8s and got this error:

Failed to parse input: unexpected end of JSON input
+ finish
+ '[' -z 6194 ']'
+ kill 6194
✗ create admin certificate - FAIL

make[2]: *** [create-admin-certificate] Error 1
make[1]: *** [post-terraform] Error 2
make: *** [all] Error 2

Maybe I should just ask this:

What is the bare m

[2017-08-30 14:34] yagonobre commented on #207
You no need to edit anything, check in s3 if you have a bucket named `${AWS_ACCOUNT_ID}-${CLUSTER_NAME}-${AWS_REGION}` and delete this

[2017-08-30 18:00] aeftimia commented on #207
I deleted all buckets, but terraform had a lock on it. I tried make clean, and terraform destroy, then deleting the the tfstate file and again deleted s3 buckets. This time I get the following error:

003e"}
Failed to parse input: unexpected end of JSON input
+ finish
+ '[' -z 16794 ']'
+ kill 16794
✗ create admin certificate - FAIL

make[2]: *** [create-admin-certificate] Error 1
make[1]: *** [po

[2017-09-06 04:52] cmarquezrusso opened #209 "3 Weird issues after DNS didnt resolve hasicorp"
Hi,

I was trying to deploy a new cluster and I got these issues after "make all"

This was related to my ISP's DNS server. I switched out to use Google ones and this continued... until this one appeared:

I tried again on a clean directory, cloning the repo and still.

My coworker ran this on his computer and it worked. He built and destroyed the cluster successfully.

I updated all the brew pack

[2017-09-06 14:25] yagonobre commented on #209
You coworker build the cluster in the `ap-southeast-2` region?

[2017-09-06 20:57] ikhripunov commented on #209
I'm the named coworker. Yes, I've been building and tearing down cluster in `ap-southeast-2`

[2017-09-07 00:41] cmarquezrusso commented on #209
**Update**: I tried 3 tests changing the cluster name and it worked. It seems that there is/are some exisiting resources on AWS that were created by `make all` and were not deleted by `make clean` because the cluster wasn't ready.

Is there any `make clean` to delete exisiting AWS resources without checking locally?

The scenario is:

1. git clone tack
2. Modify makefile
3. Running `make clean` wi

[2017-11-18 02:58] zacbayhan commented on #207
I'm also having some issues in the create admin cert function, everything else seems to be going well here is some output

[code]

[2018-01-04 16:45] Ronwebb55 opened #211 "Create Kubernetes terraform federation source"
Hi, I'm searching for a way to do federation in GCP with k8's using terraform. I would like to know is there a source for this coming?

[2018-01-04 16:53] bruj0 commented on #211
Hi, Can you explain a bit more what type of Federation are you looking for?

[2018-01-04 16:58] Ronwebb55 commented on #211
Hi, Didn't realize this is for AWS but this is for creating federation clusters in two different regions in GCP could be used in AWS also. In kubernetes, the kubefed command  lets you join cluster together like https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/ something like this in terraform.

[2018-01-12 22:32] jtfogarty opened #212 "OutOfService Load Balancers"
All 3 load balancers have a status of OutOfService with the error;

`Instance has failed at least the UnhealthyThreshold number of health checks consecutively.`

Here are the versions I'm using

awscli 1.14.20
cfssl 1.2.0_2
jq 1.5_2
kubernetes-cli 1.9.1
terraform 0.11.2

Any ideas on what is causing this or how to troubleshoot?
Thanks

Jeff

[2018-01-15 12:55] novinfor opened #213 "Certificate rejected with Etcd 3.2.9 and 3.3.0-rc.2"
Hi,

I'm having the following issues with Etcd certificate generated by Tack (cfssl).

`make all` fails on _❤ Curling apiserver external elb_.

Cluster was started with Etcd version 3.2.9 which reports the following errors:

[code]

After enforcing the Etcd latest version by adding the ETCD_IMAGE_TAG environment variable to `modules/etcd/cloud-config.yml` and `modules/worker/cloud-config.yml`:

`E

[2018-01-17 04:45] jacohend commented on #213
@novinfor I'm getting this with kube-aws too...I wonder if this is an etcd issue, or at least somewhere upstream of this?

[2018-01-22 08:28] yamaszone commented on #212
I am seeing the same issue. Here are the versions of my stack:
- CoreOS 1576.5.0 (ami-dc4ce6a4, stable, hvm)
- etcd 3.2.9
- Docker 17.09.0
- rkt 1.29.0
- hyperkube v1.7.4_coreos.0
- Terraform 0.10.2
- cfssl 1.2.0
- awscli 1.11.138
- jq 1.5

As a result, there's a infinite loop for "❤ Curling apiserver external elb..............."

@wellsie Any ideas? Thanks in advance for help.

[2018-01-22 19:49] eanderson4 commented on #207
@zacbayhan I just encountered that same issue.  If you look at the error, you will see this line

I went and installed cfssljson with this and it worked

https://github.com/cloudflare/cfssl

[2018-02-01 21:56] dionjwa commented on #212
I tried changing the instance types to no avail in `io.tf`:
[code]

[2018-02-08 03:00] brygom commented on #159
Do you have news about calico?

[2018-02-12 17:04] LucasR93 commented on #212
Same problem. Did you find a solution?

[2018-02-13 08:11] lucasreiners commented on #212
Finally found the solution:

add the line:
`Environment="ETCD_IMAGE_TAG=v3.1.11"` under

[code]

to worker/cloud-config.yml and etcd/cloud-config.yml

[2018-02-15 11:41] mzhaase commented on #212
I think this is due to the fact that the ELB is in the public subnet: tack/modules/etcd/elb.tf:24 but it tries to attach to the etcd nodes which run in the private subnet: tack/modules/etcd/ec2.tf:17

[2018-02-19 00:42] yamaszone commented on #212
The same solution mentioned in @LucasR93's post worked for me; I tried with etcd `v3.1.6` though. The existing deployment seems not compatible with etcd `v3.2.0+`. I am yet to dig into why deployment fails with latest etcd. In the meantime, the etcd version should be pinned down to `v3.1.X` to prevent users of this repo encountering a broken cluster deployment.

@wellsie would you like to get a PR

[2018-03-20 22:51] dionjwa opened #215 "How to consume the kubernetes cluster `.kube/kubeconfig`?"
Great work!

I've successfully created a kube cluster, now I'd like to consume that cluster in other terraform deployment configs.

The terraform docs about the kubernetes provider (https://www.terraform.io/docs/providers/kubernetes/) talk about loading a "config file" that I assumed is the one generated by tack in `.kube/kubeconfig`, but that doesn't work, it's not the type of config file expecte

[2018-07-26 17:11] #215 closed

[2019-11-12 04:54] #159 closed

[2020-06-29 13:04] #212 closed

[2022-02-13 06:32] #209 closed